/* =================================== */


/*  Theme & variables
/* =================================== */

@import './inc/variables';
//@import './inc/theme';
@import './doorDashOverrides';
@import './inc/utilities';
@import './inc/keyframes';

/* =================================== */


/*  Modules
/* =================================== */

@import './modules/search';
@import './modules/layout';
@import './modules/header';
@import './modules/page-navigation';
@import './modules/footer';

/* =================================== */


/*  Components
/* =================================== */

@import './components/tiles';
@import './components/tooltip';

/* =================================== */


/*  Blocks
/* =================================== */

@import './blocks/callout';
@import './blocks/code-block';
@import './blocks/code-live';
@import './blocks/component-health';
@import './blocks/embed-storybook';
@import './blocks/embed';
@import './blocks/image';
@import './blocks/markdown';
@import './blocks/shortcuts';
@import './blocks/table';
@import './blocks/tabs';
@import './blocks/tokens';
@import './blocks/release-notes.scss';

/* =================================== */


/*  Code hightlight
/* =================================== */

@import './code/highlight.scss';

/* =================================== */


/*  Vendor
/* =================================== */

@import './vendor/code-highlight';

/* =================================== */


/*  Legacy (all the original stylingú
/* =================================== */

@import './legacy/stylesheet';

/* =================================== */


/*  Deprecated (doesn't seem to be used in exporter anywhere)
/* =================================== */

@import './deprecated/featured-box';
@import './deprecated/style-switcher';
@import './deprecated/bootstrap-specific';

@font-face {
    font-family: 'DD-TTNorms';
    font-style: normal;
    font-weight: 400;
    src:
      url('https://typography.doordash.com/TTNorms-Regular.woff2') format('woff2'),
      url('https://typography.doordash.com/TTNorms-Regular.woff') format('woff'),
      url('https://typography.doordash.com/TTNorms-Regular.ttf') format('truetype'),
      url('https://typography.doordash.com/TTNorms-Regular.eot?#iefix') format('embedded-opentype');
  }
  
  @font-face {
    font-family: 'DD-TTNorms';
    font-style: normal;
    font-weight: 500;
    src:
      url('https://typography.doordash.com/TTNorms-Medium.woff2') format('woff2'),
      url('https://typography.doordash.com/TTNorms-Medium.woff') format('woff'),
      url('https://typography.doordash.com/TTNorms-Medium.ttf') format('truetype'),
      url('https://typography.doordash.com/TTNorms-Medium.eot?#iefix') format('embedded-opentype');
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-ligatures: no-common-ligatures;
    margin: 0;
    padding: 0;
  }