/*  Body 
/* =================================== */
body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--topNavHeaderHeight);
}

body {
  color: var(--colorInkPrimary);
  font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.625;
  overflow-x: hidden;
}