/*  Design tokens 
/* =================================== */
:root {
  /*  Palette 
  /* =================================== */
  --colorWhite: #fff;
  --colorNeutral100: #f9f9fa;
  --colorNeutral200: #f2f4f5;
  --colorNeutral300: #e6e9eb;
  --colorNeutral400: #dce0e4;
  --colorNeutral500: #9298a0;
  --colorNeutral600: #6e747e;
  --colorNeutral700: #666e7a;
  --colorNeutral800: #313f4d;
  --colorNeutral900: #141618;
  --colorRed100: #fff5f5;
  --colorRed500: #d23031;
  --colorRed700: #C13F39;
  --colorRed900: #9e2122;
  --colorGreen100: #ebfff0;
  --colorGreen500: #00a454;
  --colorGreen900: #008141;
  --colorOrange100: #fff6f0;
  --colorOrange500: #e36b00;
  --colorOrange900: #ba4e00;

  /*  Core tokens 
  /* =================================== */
  --fontFamily: Inter, Arial, sans-serif;
  --headingFontFamily: var(--fontFamily);
  --borderRadiusSmall: 2px;
  --borderRadiusDefault: 4px;
  --borderRadiusLarge: 6px;
  --navItemBorderRadius: var(--borderRadiusDefault);
  --transitionDefault: 200ms all ease-in-out;
  --boxShadowLevel0: 0px 0px 0px 1px var(--colorBorderSubtle);
  --boxShadowLevel1: 0px 4px 8px rgba(0, 0, 0, 0.05),
    0px 0px 0px 1px var(--colorBackgroundSecondary);
  --boxShadowLevel2: 0 4px 8px 0 rgb(0, 0, 0, 0.08),
    0px 0px 0px 1px var(--colorBorderSubtle);

  /*  Semantic 
  /* =================================== */
  /* main text */
  --colorInkPrimary: var(--colorNeutral900);
  /* secondary text */
  --colorInkSecondary: var(--colorNeutral700);
  /* eyebrow headings */
  --colorInkTertiary: var(--colorNeutral600);
  /* inverted text, e.g. for us on dark bg */
  --colorInkInverted: var(--colorWhite);
  /* Main bg for components */
  --colorBackgroundPrimary: var(--colorWhite);
  /* Secondary background (code, etc) ... */
  --colorBackgroundSecondary: var(--colorNeutral100);
  /* For hovers, etc., works on both Primary and Secondary ... */
  --colorBackgroundAlt: var(--colorNeutral200);
  /* inputs, s... */
  --colorBorderProminent: var(--colorNeutral400);
  /* soft borders ... */
  --colorBorderSubtle: var(--colorNeutral300);
  /* for page structure */
  --colorBorderStructure: var(--colorBorderSubtle);
  /* links, active states, ... */
  --colorAccent: #0f62fe;
  /* hovers for primary */
  --colorAccentAlt: #0043ce;
  /* Background for active items, e.g. in left nav or tabs */
  --colorAccentSurface: #ecf4ff;
  /* Ink color on accent */
  --colorAccentInk: var(--colorWhite);
  /* Inline code mark color */
  --colorCodeMark: var(--colorRed700);

  --fontWeightRegular: 400;
  --fontWeightSemibold: 500;
  --fontWeightBold: 700;

  /* Site */
  --pageBackground: var(--colorBackgroundPrimary);

  /* CTA button */
  --ctaButtonBackground: var(--colorAccent);
  --ctaButtonBackgroundHover: var(--colorAccentAlt);
  --ctaButtonInk: var(--colorWhite);
  

  /* Block: Banner */
  --calloutSuccessInk: var(--colorGreen900);
  --calloutSuccessInkSecondary: var(--colorGreen500);
  --calloutSuccessBackground: var(--colorGreen100);
  --calloutWarningInk: var(--colorOrange900);
  --calloutWarningInkSecondary: var(--colorOrange500);
  --calloutWarningBackground: var(--colorOrange100);
  --calloutDangerInk: var(--colorRed900);
  --calloutDangerInkSecondary: var(--colorRed500);
  --calloutDangerBackground: var(--colorRed100);
  --calloutInfoInk: var(--colorInkPrimary);
  --calloutInfoInkSecondary: var(--colorInkSecondary);
  --calloutInfoBackground: var(--colorBackgroundAlt);
}
