/*  Design tokens 
/* =================================== */
:root {
  /*  Palette 
  /* =================================== */
  --colorWhite: #fff;
  --colorNeutral100: #f9f9fa;
  --colorNeutral200: #f2f4f5;
  --colorNeutral300: #e5e9eb;
  --colorNeutral400: #dce0e4;
  --colorNeutral500: #9298a0;
  --colorNeutral600: #6e747e;
  --colorNeutral700: #666e7a;
  --colorNeutral800: #313f4d;
  --colorNeutral900: #141618;
  --colorRed100: #fff5f5;
  --colorRed500: #d23031;
  --colorRed700: #C13F39;
  --colorRed900: #9e2122;
  --colorGreen100: #ebfff0;
  --colorGreen500: #00a454;
  --colorGreen900: #008141;
  --colorOrange100: #fff6f0;
  --colorOrange500: #e36b00;
  --colorOrange900: #ba4e00;

  /*  Core tokens 
  /* =================================== */
  --fontFamily: 'Inter', Arial, Helvetica, sans-serif;
  --headingFontFamily: var(--fontFamily);
  --borderRadiusSmall: 2px;
  --borderRadiusDefault: 4px;
  --borderRadiusLarge: 6px;
  --transitionDefault: 200ms all ease-in-out;
  --boxShadowLevel0: 0px 0px 0px 1px var(--colorBackgroundPrimary);
  --boxShadowLevel1: 0px 4px 8px rgba(0, 0, 0, 0.05),
    0px 0px 0px 1px var(--colorBackgroundSecondary);
  --boxShadowLevel2: 0 4px 8px 0 rgb(0, 0, 0, 0.08),
    0px 0px 0px 1px var(--colorBorderColorSubtle);

  /*  Semantic 
  /* =================================== */
  /* main text */
  --colorInkPrimary: var(--colorNeutral900);
  /* secondary text */
  --colorInkSecondary: var(--colorNeutral700);
  /* eyebrow headings */
  --colorInkTertiary: var(--colorNeutral500);
  /* inverted text, e.g. for us on dark bg */
  --colorInkInverted: var(--colorWhite);
  /* Main bg for components */
  --colorBackgroundPrimary: var(--colorWhite);
  /* Secondary background (code, etc) ... */
  --colorBackgroundSecondary: var(--colorNeutral100);
  /* For hovers, etc., works on both Primary and Secondary ... */
  --colorBackgroundAlt: var(--colorNeutral200);
  /* inputs, s... */
  --colorBorderColorProminent: var(--colorNeutral400);
  /* borders, page structure ... */
  --colorBorderColorSubtle: var(--colorNeutral200);
  /* links, active states, ... */
  --colorAccent: #0f62fe;
  /* hovers for primary */
  --colorAccentDark: #0043ce;
  /* Background for active items, e.g. in left nav or tabs */
  --colorAccentSurface: #ecf4ff;
  /* Ink color on accent */
  --colorAccentInk: var(--colorWhite);
  /* Inline code mark color */
  --colorCodeMark: var(--colorRed700);

  --fontWeightRegular: 400;
  --fontWeightSemibold: 500;
  --fontWeightBold: 700;

  /* Site */
  --pageBackground: var(--colorBackgroundPrimary);

  /* Page Header */
  --pageHeaderBackground: var(--colorBackgroundSecondary);
  --pageHeaderInk: var(--colorInkPrimary);
  --pageHeaderDescription: var(--colorInkSecondary);
  --pageHeaderBorderColor: var(--colorBorderColorSubtle);

  /* Page Title */
  --pageTitleFontFamily: var(--fontFamily);
  --pageTitleFontSize: 40px;
  --pageTitleFontWeight: 700;

  /* Top Navigation */
  --topNavBackground: var(--colorInkPrimary);
  --topNavBorderColor: var(--topNavBackground);
  /* main header text and icons */
  --topNavInk: var(--colorInkInverted);
  /* main header item text on hover  */
  --topNavItemHoverInk: var(--topNavInk);
  /* main header item text when active */
  --topNavItemActiveInk: var(--topNavInk);
  /* main header item background on hover */
  --topNavItemHoverBackground: rgba(255, 255, 255, 0.15);
  /* main header item background when active */
  --topNavItemActiveBackground: var(--topNavItemHoverBackground);
  --topNavHeaderHeight: 68px;
  --topNavElevation: 0px 5px 8px rgba(30, 41, 59, 0.05);
  --topNavFontWeight: 500;

  /* Left Navigation */
  --leftNavWidth: 300px;
  --leftNavBackground: var(--colorBackgroundPrimary);
  --leftNavBorderColor: var(--colorBorderColorSubtle);
  --leftNavInk: var(--colorInkPrimary);
  --leftNavItemHoverBackground: var(--colorNeutral100);
  --leftNavItemHoverBackgroundAlt: var(--colorNeutral300);
  --leftNavItemHoverInk: var(--leftNavInk);
  --leftNavItemActiveBackground: var(--colorAccentSurface);
  --leftNavItemActiveInk: var(--colorAccent);
  --leftNavInkTab: var(--colorInkSecondary);
  --leftNavInkSection: var(--colorInkSecondary);
  --leftNavElevation: none;

  /* CTA button */
  --ctaButtonBackground: var(--colorAccent);
  --ctaButtonBackgroundHover: var(--colorAccentDark);
  --ctaButtonInk: var(--colorWhite);

  /* Blocks */
  --spacingBlockAfter: 24px;

  /* Block: Heading */
  --headingInk: var(--colorInkPrimary);

  /* Block: Banner */
  --calloutSuccessInk: var(--colorGreen900);
  --calloutSuccessInkSecondary: var(--colorGreen500);
  --calloutSuccessBackground: var(--colorGreen100);
  --calloutWarningInk: var(--colorOrange900);
  --calloutWarningInkSecondary: var(--colorOrange500);
  --calloutWarningBackground: var(--colorOrange100);
  --calloutDangerInk: var(--colorRed900);
  --calloutDangerInkSecondary: var(--colorRed500);
  --calloutDangerBackground: var(--colorRed100);
  --calloutInfoInk: var(--colorInkPrimary);
  --calloutInfoInkSecondary: var(--colorInkSecondary);
  --calloutInfoBackground: var(--colorBackgroundAlt);
}

:root {
  --fontFamily: Inter, sans-serif;
--colorAccent: #0568FC;
--colorAccentDark: #0445a7;
--colorAccentSurface: #eaf2ff;
--borderRadiusDefault: 8px;
--colorInkSecondary: #535A74;
--topNavBackground: var(--colorBackgroundPrimary);
--topNavBorderColor: var(--colorBorderColorSubtle);
--topNavInk: var(--colorInkPrimary);
--topNavItemHoverInk: var(--colorAccent);
--topNavItemActiveInk: var(--colorAccent);
--topNavItemHoverBackground: var(--colorAccentSurface);
--topNavItemActiveBackground: var(--colorBackgroundPrimary);
--leftNavBackground: var(--colorBackgroundPrimary);
--leftNavItemHoverInk: var(--colorAccent);
--leftNavItemActiveBackground: transparent;
--topNavHeaderHeight: 64px;
--topNavElevation: 0px 5px 8px rgba(30, 41, 59, 0.05);
--pageHeaderBackground: var(--colorBackgroundPrimary);
--leftNavBorderColor: transparent;
--pageHeaderBorderColor: transparent;


// shortcut component-tokens overrides
--shortcutContentPadding: 16px 0;
--shortcutBoxShadow: none;
--shortcutBoxShadowHover: none;
--shortcutBackground: var(--colorBackgroundPrimary);
--shortcutTitleFontSize: 17px;
--shortcutTitleFontWeight: 600;
--shortcutDescriptionFontSize: 15px;
--shorcutContentGap: 8px;
--shorcutGridGap: 24px;
--shortcutBorderRadius: 8px;
--shortcutImageBorderRadius: 8px;
}