/* =================================== */
/*  Grid (Modified Bootstrap)
/* =================================== */
.row {
  /* Variables */
  --grid-col1: calc((100% - (var(--grid-gap) * 11)) / 12);
  --grid-col2: calc((100% - (var(--grid-gap) * 11)) / 12 * 2 + var(--grid-gap));
  --grid-col3: calc((100% - (var(--grid-gap) * 11)) / 12 * 3 + 2 * var(--grid-gap));
  --grid-col4: calc((100% - (var(--grid-gap) * 11)) / 12 * 4 + 3 * var(--grid-gap));
  --grid-col5: calc((100% - (var(--grid-gap) * 11)) / 12 * 5 + 4 * var(--grid-gap));
  --grid-col6: calc((100% - (var(--grid-gap) * 11)) / 12 * 6 + 5 * var(--grid-gap));
  --grid-col7: calc((100% - (var(--grid-gap) * 11)) / 12 * 7 + 6 * var(--grid-gap));
  --grid-col8: calc((100% - (var(--grid-gap) * 11)) / 12 * 8 + 7 * var(--grid-gap));
  --grid-col9: calc((100% - (var(--grid-gap) * 11)) / 12 * 9 + 8 * var(--grid-gap));
  --grid-col10: calc((100% - (var(--grid-gap) * 11)) / 12 * 10 + 9 * var(--grid-gap));
  --grid-col11: calc((100% - (var(--grid-gap) * 11)) / 12 * 11 + 10 * var(--grid-gap));

  @apply mx-0 mb-l gap-[var(--grid-gap)];

  & > * {
    @apply w-full px-0;
  }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  flex: 0 0 auto;
}
.col-1 {
  width: var(--grid-col1);
}
.col-2 {
  width: var(--grid-col2);
}
.col-3 {
  width: var(--grid-col3);
}
.col-4 {
  width: var(--grid-col4);
}
.col-5 {
  width: var(--grid-col5);
}
.col-6 {
  width: var(--grid-col6);
}
.col-7 {
  width: var(--grid-col7);
}
.col-8 {
  width: var(--grid-col8);
}
.col-9 {
  width: var(--grid-col9);
}
.col-10 {
  width: var(--grid-col10);
}
.col-11 {
  width: var(--grid-col11);
}
.col-12 {
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    flex: 0 1 auto;
  }
}
@media (min-width: 660px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    flex: 0 0 auto;
  }
  .col-sm-1 {
    width: var(--grid-col1);
  }
  .col-sm-2 {
    width: var(--grid-col2);
  }
  .col-sm-3 {
    width: var(--grid-col3);
  }
  .col-sm-4 {
    width: var(--grid-col4);
  }
  .col-sm-5 {
    width: var(--grid-col5);
  }
  .col-sm-6 {
    width: var(--grid-col6);
  }
  .col-sm-7 {
    width: var(--grid-col7);
  }
  .col-sm-8 {
    width: var(--grid-col8);
  }
  .col-sm-9 {
    width: var(--grid-col9);
  }
  .col-sm-10 {
    width: var(--grid-col10);
  }
  .col-sm-11 {
    width: var(--grid-col11);
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    flex: 0 0 auto;
  }
  .col-md-1 {
    width: var(--grid-col1);
  }
  .col-md-2 {
    width: var(--grid-col2);
  }
  .col-md-3 {
    width: var(--grid-col3);
  }
  .col-md-4 {
    width: var(--grid-col4);
  }
  .col-md-5 {
    width: var(--grid-col5);
  }
  .col-md-6 {
    width: var(--grid-col6);
  }
  .col-md-7 {
    width: var(--grid-col7);
  }
  .col-md-8 {
    width: var(--grid-col8);
  }
  .col-md-9 {
    width: var(--grid-col9);
  }
  .col-md-10 {
    width: var(--grid-col10);
  }
  .col-md-11 {
    width: var(--grid-col11);
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    flex: 0 0 auto;
  }
  .col-lg-1 {
    width: var(--grid-col1);
  }
  .col-lg-2 {
    width: var(--grid-col2);
  }
  .col-lg-3 {
    width: var(--grid-col3);
  }
  .col-lg-4 {
    width: var(--grid-col4);
  }
  .col-lg-5 {
    width: var(--grid-col5);
  }
  .col-lg-6 {
    width: var(--grid-col6);
  }
  .col-lg-7 {
    width: var(--grid-col7);
  }
  .col-lg-8 {
    width: var(--grid-col8);
  }
  .col-lg-9 {
    width: var(--grid-col9);
  }
  .col-lg-10 {
    width: var(--grid-col10);
  }
  .col-lg-11 {
    width: var(--grid-col11);
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    flex: 0 0 auto;
  }
}

@media (min-width: 1200px) {
  .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    flex: 0 1 auto;
  }
}
@media (min-width: 1260px) {
  .col-xl {
    flex: 1 0 0%;
  }
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    flex: 0 0 auto;
  }
  .col-xl-1 {
    width: var(--grid-col1);
  }
  .col-xl-2 {
    width: var(--grid-col2);
  }
  .col-xl-3 {
    width: var(--grid-col3);
  }
  .col-xl-4 {
    width: var(--grid-col4);
  }
  .col-xl-5 {
    width: var(--grid-col5);
  }
  .col-xl-6 {
    width: var(--grid-col6);
  }
  .col-xl-7 {
    width: var(--grid-col7);
  }
  .col-xl-8 {
    width: var(--grid-col8);
  }
  .col-xl-9 {
    width: var(--grid-col9);
  }
  .col-xl-10 {
    width: var(--grid-col10);
  }
  .col-xl-11 {
    width: var(--grid-col11);
  }
  .col-xl-12 {
    width: 100%;
  }
}