/*  Design tokens 
/* =================================== */
:root {
  /*  Core tokens
  /* =================================== */
  --borderRadiusSmall: 0;
  --borderRadiusDefault: 0;
  --borderRadiusLarge: 0;
  --transitionDefault: none;

  /*  Semantic
  /* =================================== */
  --colorAccent: #00a1ff;
  /* main text */
  --colorInkPrimary: #000;

  /* Block: Banner */
  --calloutSuccessInk: #2E8540;
  --calloutDangerInk: #CD2026;

  /* Content */
  --contentContainerPadding: 40px;
  --contentMaxWidth: 1160px;

  /* main header item background when active */
  --topNavHeight: 50px !important;

  /* Side Navigation */
  --sideNavWidth: 300px;
  --sideNavBackground: #fff;
  --sideNavBorderColor: rgba(0,0,0,.07);
  --sideNavInk: var(--colorInkPrimary);
  --sideNavPadding: 0;
  --sideNavGap: 0;

  /* Side Navigation Item */
  --sideNavItemHoverBackground: #e8e8e8;
  --sideNavItemHoverInk: var(--sideNavInk);
  --sideNavItemActiveBackground: var(--colorAccent);
  --sideNavItemActiveInk: var(--colorInkPrimary);
  --sideNavItemPadding: 12px;
  --sideNavItemFontSize: inherit;
  --sideNavItemFontWeight: inherit;
  --sideNavSubItemIndentMargin: 1.5rem;

  /* Left Navigation Group */
  --sideNavGroupMarginTop: 0;

  /* PlayStation
  /* =================================== */
  /*  Tailwind CSS */
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;

  /*  Palette */
  --color-link: #003fb3;

  /* Spacing */
  --grid-gap: 1.75rem;

  /* Content Navigation */
  --contentNavWidth: 300px;
}
