
:root {
    --colorBannerInformationalDefaultBackground: #f7f7f7;    
    --colorBannerInformationalDefaultBorder: #f7f7f7;    
    --colorBannerInformationalDefaultDecorator: #f7f7f7;    
    --colorBannerInformationalEmphasisBackground: #494949;    
    --colorBannerInformationalEmphasisBorder: #494949;    
    --colorBannerInformationalEmphasisDecorator: #494949;    
    --colorBannerInformationalSubduedBorder: #e7e7e7;    
    --colorBannerInformationalSubduedDecorator: #494949;    
    --colorBannerInformationalSubduedIconbackground: #e7e7e7;    
    --colorBannerInformationalSubduedIcon: #606060;    
    --colorBannerHighlightDefaultBackground: #ecfbfb;    
    --colorBannerHighlightDefaultBorder: #ecfbfb;    
    --colorBannerHighlightDefaultDecorator: #ecfbfb;    
    --colorBannerHighlightDefaultIcon: #00686e;    
    --colorBannerHighlightEmphasisBackground: #00838a;    
    --colorBannerHighlightEmphasisBorder: #00838a;    
    --colorBannerHighlightEmphasisDecorator: #00838a;    
    --colorBannerHighlightSubduedBorder: #e7e7e7;    
    --colorBannerHighlightSubduedDecorator: #00838a;    
    --colorBannerHighlightSubduedIconbackground: #ecfbfb;    
    --colorBannerHighlightSubduedIcon: #00666d;    
    --colorBannerNegativeDefaultBackground: #fff0ed;    
    --colorBannerNegativeDefaultBorder: #fff0ed;    
    --colorBannerNegativeDefaultDecorator: #fff0ed;    
    --colorBannerNegativeDefaultIcon: #b71000;    
    --colorBannerNegativeEmphasisBackground: #b71000;    
    --colorBannerNegativeEmphasisBorder: #b71000;    
    --colorBannerNegativeEmphasisDecorator: #b71000;    
    --colorBannerNegativeSubduedBorder: #e7e7e7;    
    --colorBannerNegativeSubduedDecorator: #b71000;    
    --colorBannerNegativeSubduedIconbackground: #fff0ed;    
    --colorBannerNegativeSubduedIcon: #b71000;    
    --colorBannerPositiveDefaultBackground: #e7fbef;    
    --colorBannerPositiveDefaultBorder: #e7fbef;    
    --colorBannerPositiveDefaultDecorator: #e7fbef;    
    --colorBannerPositiveDefaultIcon: #00872f;    
    --colorBannerPositiveEmphasisBackground: #00872f;    
    --colorBannerPositiveEmphasisBorder: #00872f;    
    --colorBannerPositiveEmphasisDecorator: #00872f;    
    --colorBannerPositiveSubduedBorder: #e7e7e7;    
    --colorBannerPositiveSubduedDecorator: #00872f;    
    --colorBannerPositiveSubduedIconbackground: #e7fbef;    
    --colorBannerPositiveSubduedIcon: #006a25;    
    --colorBannerWarningDefaultBackground: #ffffa3;    
    --colorBannerWarningDefaultBorder: #ffffa3;    
    --colorBannerWarningDefaultDecorator: #ffffa3;    
    --colorBannerWarningDefaultIcon: #d5a600;    
    --colorBannerWarningEmphasisBackground: #f6e61b;    
    --colorBannerWarningEmphasisBorder: #f6e61b;    
    --colorBannerWarningEmphasisDecorator: #f6e61b;    
    --colorBannerWarningSubduedBorder: #e7e7e7;    
    --colorBannerWarningSubduedDecorator: #e8c500;    
    --colorBannerWarningSubduedIconbackground: #ffffa3;    
    --colorBannerWarningSubduedIcon: #835200;    
    /* Red/60
    Our accessible red color. Use for Primary CTAs. */
    --colorButtonPrimaryBackgroundDefault: #eb1700;    
    --colorButtonPrimaryBackgroundHovered: #d91400;    
    /* Red/80 */
    --colorButtonPrimaryBackgroundPressed: #b71000;    
    --colorButtonSecondaryBackgroundDefault: #fff0ed;    
    --colorButtonSecondaryBackgroundHovered: #ffe0db;    
    --colorButtonSecondaryBackgroundPressed: #fec7bd;    
    --colorButtonSecondaryForeground: #d91400;    
    /* Grey/5; Use for Tertiary buttons */
    --colorButtonTertiaryBackgroundDefault: #e7e7e7;    
    --colorButtonTertiaryBackgroundHovered: #c4c4c4;    
    /* Grey/20 */
    --colorButtonTertiaryBackgroundPressed: #c4c4c4;    
    --colorButtonFlatprimaryBackgroundDefault: #e7e7e700;    
    --colorButtonFlatprimaryBackgroundHovered: #e7e7e7;    
    --colorButtonFlatprimaryBackgroundPressed: #e7e7e7;    
    /* System Black */
    --colorButtonFlatprimaryForeground: #eb1700;    
    --colorButtonFlatsecondaryBackgroundDefault: #e7e7e700;    
    --colorButtonFlatsecondaryBackgroundHovered: #e7e7e7;    
    --colorButtonFlatsecondaryBackgroundPressed: #e7e7e7;    
    --colorButtonFabBackgroundHovered: #e7e7e7;    
    --colorButtonFabBackgroundPressed: #e7e7e7;    
    --colorButtonDestructiveBackgroundDefault: #b71000;    
    --colorButtonDestructiveBackgroundHovered: #d91400;    
    --colorButtonDestructiveBackgroundPressed: #810b00;    
    --colorButtonLinkFgHovered: #494949;    
    --colorButtonLinkFgPressed: #767676;    
    --colorButtonLinkFgDisabled: #b2b2b2;    
    --colorButtondisabledBackground: #f7f7f7;    
    --colorButtondisabledForeground: #b2b2b2;    
    --colorButtonsecondarytoggleBgOffDefault: #e7e7e7;    
    --colorButtonsecondarytoggleBgOffHovered: #d6d6d6;    
    --colorButtonsecondarytoggleBgOffPressed: #e7e7e7;    
    --colorButtonsecondarytoggleBgOffDisabled: #f7f7f7;    
    --colorButtonsecondarytoggleBgOnHovered: #606060;    
    --colorButtonsecondarytoggleBgOnPressed: #494949;    
    --colorButtonsecondarytoggleBgOnDisabled: #d6d6d6;    
    --colorButtonsecondarytoggleBorderOffDefault: #e7e7e7;    
    --colorButtonsecondarytoggleBorderOffHovered: #d7d7d7;    
    --colorButtonsecondarytoggleBorderOffPressed: #d6d6d6;    
    --colorButtonsecondarytoggleBorderOffDisabled: #f7f7f7;    
    --colorButtonsecondarytoggleBorderOnHovered: #606060;    
    --colorButtonsecondarytoggleBorderOnPressed: #494949;    
    --colorButtonsecondarytoggleBorderOnDisabled: #d6d6d6;    
    --colorButtonsecondarytoggleFgOffDisabled: #b2b2b2;    
    --colorButtonsecondarytoggleFgOnDisabled: #9f9f9f;    
    --colorButtonsecondarytogglegroupBgOffDefault: #e7e7e7;    
    --colorButtonsecondarytogglegroupBgOffHovered: #d6d6d6;    
    --colorButtonsecondarytogglegroupBgOffPressed: #e7e7e7;    
    --colorButtonsecondarytogglegroupBgOffDisabled: #f7f7f7;    
    --colorButtonsecondarytogglegroupBgOnHovered: #606060;    
    --colorButtonsecondarytogglegroupBgOnPressed: #494949;    
    --colorButtonsecondarytogglegroupBgOnDisabled: #d6d6d6;    
    --colorButtonsecondarytogglegroupBorderOffDefault: #e7e7e7;    
    --colorButtonsecondarytogglegroupBorderOffHovered: #d7d7d7;    
    --colorButtonsecondarytogglegroupBorderOffPressed: #d6d6d6;    
    --colorButtonsecondarytogglegroupBorderOffDisabled: #f7f7f7;    
    --colorButtonsecondarytogglegroupBorderOnHovered: #606060;    
    --colorButtonsecondarytogglegroupBorderOnPressed: #494949;    
    --colorButtonsecondarytogglegroupBorderOnDisabled: #d6d6d6;    
    --colorButtonsecondarytogglegroupFgOffDisabled: #b2b2b2;    
    --colorButtonsecondarytogglegroupFgOnDisabled: #9f9f9f;    
    --colorButtontabBgOffHovered: #f7f7f7;    
    --colorButtontabBgOffPressed: #e7e7e7;    
    --colorButtontabBgOnHovered: #f7f7f7;    
    --colorButtontabBgOnPressed: #e7e7e7;    
    --colorButtontabBorderOffDefault: #e7e7e7;    
    --colorButtontabBorderOffHovered: #d7d7d7;    
    --colorButtontabBorderOffDisabled: #f7f7f7;    
    --colorButtontabBorderOnDefault: #eb1700;    
    --colorButtontabBorderOnHovered: #b71000;    
    --colorButtontabBorderOnPressed: #b71000;    
    --colorButtontabBorderOnDisabled: #d6d6d6;    
    --colorButtontabPressedOffDefault: #d6d6d6;    
    --colorButtontabFgOffDefault: #494949;    
    --colorButtontabFgOffHovered: #494949;    
    --colorButtontabFgOffPressed: #494949;    
    --colorButtontabFgOffDisabled: #b2b2b2;    
    --colorButtontabFgOnDisabled: #9f9f9f;    
    --colorButtontertiarytoggleBgOffHovered: #d6d6d6;    
    --colorButtontertiarytoggleBgOffDisabled: #f7f7f7;    
    --colorButtontertiarytoggleBgOffPressed: #d7d7d7;    
    --colorButtontertiarytoggleBgOnPressed: #494949;    
    --colorButtontertiarytoggleBgOnDisabled: #d6d6d6;    
    --colorButtontertiarytoggleBorderOffHovered: #606060;    
    --colorButtontertiarytoggleBorderOffPressed: #494949;    
    --colorButtontertiarytoggleBorderOffDisabled: #f7f7f7;    
    --colorButtontertiarytoggleBorderOnDefault: #1d1d1d;    
    --colorButtontertiarytoggleBorderOnHovered: #636363;    
    --colorButtontertiarytoggleBorderOnPressed: #494949;    
    --colorButtontertiarytoggleBorderOnDisabled: #d6d6d6;    
    --colorButtontertiarytoggleFgOffDisabled: #b2b2b2;    
    --colorButtontertiarytoggleFgOnDisabled: #9f9f9f;    
    --colorButtontertiarytogglegroupBgOnHovered: #636363;    
    --colorButtontertiarytogglegroupBgOnPressed: #494949;    
    --colorButtontertiarytogglegroupBgOnDisabled: #d6d6d6;    
    --colorButtontertiarytogglegroupBgOffHovered: #d6d6d6;    
    --colorButtontertiarytogglegroupBgOffPressed: #e7e7e7;    
    --colorButtontertiarytogglegroupBgOffDisabled: #f7f7f7;    
    --colorButtontertiarytogglegroupBorderOnDefault: #1d1d1d;    
    --colorButtontertiarytogglegroupBorderOnHovered: #636363;    
    --colorButtontertiarytogglegroupBorderOnPressed: #494949;    
    --colorButtontertiarytogglegroupBorderOnDisabled: #d6d6d6;    
    --colorButtontertiarytogglegroupBorderOffHovered: #606060;    
    --colorButtontertiarytogglegroupBorderOffPressed: #494949;    
    --colorButtontertiarytogglegroupBorderOffDisabled: #f7f7f7;    
    --colorButtontertiarytogglegroupFgOnDisabled: #9f9f9f;    
    --colorButtontertiarytogglegroupFgOffDisabled: #b2b2b2;    
    /* E7E7E7 */
    --colorCardBorderUnselectedDefault: #e7e7e7;    
    /* D6D6D6 */
    --colorCardBorderUnselectedHovered: #d6d6d6;    
    /* C4C4C4 */
    --colorCardBorderUnselectedPressed: #c4c4c4;    
    /* F7F7F7 */
    --colorCardBorderUnselectedDisabled: #f7f7f7;    
    /* B71000 */
    --colorCardBorderUnselectedError: #b71000;    
    /* FDA294 */
    --colorCardBorderUnselectedErrordisabled: #fda294;    
    /* 313131 */
    --colorCardBorderSelectedHovered: #313131;    
    /* 494949 */
    --colorCardBorderSelectedPressed: #494949;    
    /* B2B2B2 */
    --colorCardBorderSelectedDisabled: #b2b2b2;    
    /* B71000 */
    --colorCardBorderSelectedError: #b71000;    
    /* FDA294 */
    --colorCardBorderSelectedErrordisabled: #fda294;    
    /* 313131 */
    --colorCardTitleHovered: #313131;    
    /* 494949 */
    --colorCardTitlePressed: #494949;    
    /* B2B2B2 */
    --colorCardTitleDisabled: #b2b2b2;    
    /* 494949 */
    --colorCardBodyDefault: #494949;    
    /* 606060 */
    --colorCardBodyHovered: #606060;    
    /* 767676 */
    --colorCardBodyPressed: #767676;    
    /* B2B2B2 */
    --colorCardBodyDisabled: #b2b2b2;    
    --colorDatePickerDateUnselectedBgHovered: #d6d6d6;    
    --colorDatePickerDateUnselectedBgPressed: #c4c4c4;    
    --colorDatePickerDateUnselectedBorderHovered: #d6d6d6;    
    --colorDatePickerDateUnselectedBorderPressed: #c4c4c4;    
    --colorDatePickerDateUnselectedFgDisabled: #b2b2b2;    
    --colorDatePickerDateUnselectedIndicatorPrimary: #b71000;    
    --colorDatePickerDateUnselectedIndicatorSecondary: #494949;    
    --colorDatePickerDateUnselectedIndicatorDisabled: #b2b2b2;    
    --colorDatePickerDateSelectedBgHovered: #606060;    
    --colorDatePickerDateSelectedBgPressed: #494949;    
    --colorDatePickerDateSelectedBgDisabled: #d6d6d6;    
    --colorDatePickerDateSelectedBorderHovered: #606060;    
    --colorDatePickerDateSelectedBorderPressed: #494949;    
    --colorDatePickerDateSelectedBorderDisabled: #d6d6d6;    
    --colorDatePickerDateSelectedFgDisabled: #9f9f9f;    
    --colorDatePickerDateSelectedIndicatorPrimary: #fda294;    
    --colorDatePickerDateSelectedIndicatorSecondary: #d6d6d6;    
    --colorDatePickerDateSelectedIndicatorDisabled: #9f9f9f;    
    --colorDatePickerRangeUnselectedBgHovered: #f7f7f7;    
    --colorDatePickerRangeUnselectedBgPressed: #e7e7e7;    
    --colorDatePickerRangeUnselectedBorderHovered: #f7f7f7;    
    --colorDatePickerRangeUnselectedBorderPressed: #e7e7e7;    
    --colorDatePickerRangeUnselectedBorderDisabled: #f7f7f7;    
    --colorDatePickerRangeUnselectedFgDisabled: #b2b2b2;    
    --colorDatePickerRangeSelectedBgDefault: #d6d6d6;    
    --colorDatePickerRangeSelectedBgHovered: #c4c4c4;    
    --colorDatePickerRangeSelectedBgPressed: #b2b2b2;    
    --colorDatePickerRangeSelectedBgDisabled: #e7e7e7;    
    --colorDatePickerRangeSelectedBorderDefault: #d6d6d6;    
    --colorDatePickerRangeSelectedBorderHovered: #c4c4c4;    
    --colorDatePickerRangeSelectedBorderPressed: #b2b2b2;    
    --colorDatePickerRangeSelectedBorderDisabled: #d6d6d6;    
    --colorDatePickerRangeSelectedFgDisabled: #9f9f9f;    
    --colorDatePickerRangeSelectedIndicatorPrimary: #b71000;    
    --colorDatePickerRangeSelectedIndicatorSecondary: #494949;    
    --colorDatePickerRangeSelectedIndicatorDisabled: #b2b2b2;    
    --colorDatePickerTodayBorderDefault: #767676;    
    --colorFieldsBackgroundInactive: #f7f7f7;    
    --colorFieldsBackgroundActive: #f7f7f7;    
    --colorFieldsBackgroundError: #fff0ed;    
    --colorFieldsBackgroundDisabled: #f7f7f7;    
    --colorFieldsForegroundDisabled: #b2b2b2;    
    --colorFieldsBorderInactive: #f7f7f7;    
    --colorFieldsBorderError: #b71000;    
    --colorFieldsBorderDisabled: #f7f7f7;    
    --colorFieldsLeadingiconInactive: #767676;    
    --colorFieldsLeadingiconDisabled: #b2b2b2;    
    --colorFieldsTrailingiconDisabled: #b2b2b2;    
    --colorListcellcontainerBackgroundHovered: #f7f7f7;    
    --colorListcellcontainerBackgroundPressed: #e7e7e7;    
    --colorListcellcontainerBackgroundUnread: #f4f6fe;    
    --colorListcellcontainerBackgroundUnreadHovered: #d1dafb;    
    --colorListcellcontainerBackgroundUnreadPressed: #e6ebfd;    
    --colorListcellcontainerBackgroundHighlight: #f4f6fe;    
    --colorListcellcontainerBackgroundHighlightHovered: #d1dafb;    
    --colorListcellcontainerBackgroundHighlightPressed: #e6ebfd;    
    --colorLoadingDefault: #eb1700;    
    --colorMapuiPinunselectedBackgroundDisabled: #b2b2b2;    
    --colorMapuiPinunselectedForegroundFood: #eb1700;    
    --colorMapuiPinunselectedForegroundCoffee: #643b00;    
    --colorMapuiPinunselectedForegroundAlcohol: #bd8800;    
    --colorMapuiPinunselectedForegroundGroceries: #00872f;    
    --colorMapuiPinunselectedBorderDefault: #d6d6d633;    
    --colorMapuiPinunselectedBorderDisabled: #b2b2b2;    
    --colorMapuiPinselectedBackgroundDisabled: #b2b2b2;    
    --colorMapuiPinselectedBorderDefault: #4d4d4d33;    
    --colorMapuiPinselectedBorderDisabled: #b2b2b2;    
    --colorMapuiCurrentlocationBackground: #4969f5;    
    --colorMapuiCurrentlocationBackgroundoverlay: #6c87f833;    
    --colorMapuiDasherBackground: #eb1700;    
    --colorMapuiDasherBorder: #eb1700;    
    --colorMenuItemBgHovered: #f7f7f7;    
    --colorMenuItemBgPressed: #e7e7e7;    
    --colorMenuItemFgDisabled: #b2b2b2;    
    --colorNotificationDotBackgroundDefault: #eb1700;    
    --colorPaginationPrimaryUnselected: #d6d6d6;    
    --colorPaginationPrimarySelected: #d83521;    
    --colorPaginationDarkUnselected: #d6d6d6;    
    --colorPaginationDarkSelected: #767676;    
    --colorPaginationLightUnselected: #8b8b8b;    
    --colorPaginationnumberedBgUnselectedDefault: #e7e7e7;    
    --colorPaginationnumberedBgUnselectedHovered: #d6d6d6;    
    --colorPaginationnumberedBgUnselectedPressed: #d6d6d6;    
    --colorPaginationnumberedBgUnselectedDisabled: #e7e7e7;    
    --colorPaginationnumberedBgSelectedHovered: #606060;    
    --colorPaginationnumberedBgSelectedPressed: #494949;    
    --colorPaginationnumberedBgSelectedDisabled: #d6d6d6;    
    --colorPaginationnumberedBorderUnselectedDefault: #e7e7e7;    
    --colorPaginationnumberedBorderUnselectedHovered: #d7d7d7;    
    --colorPaginationnumberedBorderUnselectedPressed: #d6d6d6;    
    --colorPaginationnumberedBorderUnselectedDisabled: #f7f7f7;    
    --colorPaginationnumberedBorderSelectedHovered: #606060;    
    --colorPaginationnumberedBorderSelectedPressed: #494949;    
    --colorPaginationnumberedBorderSelectedDisabled: #d6d6d6;    
    --colorPaginationnumberedFgUnselectedDisabled: #b2b2b2;    
    --colorPaginationnumberedFgSelectedDisabled: #9f9f9f;    
    --colorRatingUnselected: #b2b2b2;    
    --colorRatingSelected: #e8c500;    
    --colorRatingUnselectedDisabled: #e7e7e7;    
    --colorRatingSelectedDisabled: #b2b2b2;    
    --colorSliderKnobBackgroundHovered: #494949;    
    --colorSliderKnobBackgroundPressed: #313131;    
    --colorSliderKnobBackgroundDisabled: #d6d6d6;    
    --colorSliderTrackBackgroundOff: #d6d6d6;    
    --colorSliderTrackBackgroundOffDisabled: #f7f7f7;    
    --colorSliderTrackBackgroundOnDisabled: #d6d6d6;    
    --colorStepperFloatingCollapsedUnselectedForegroundSecondaryDisabled: #b2b2b2;    
    --colorStepperFloatingCollapsedUnselectedForegroundSecondaryDefault: #494949;    
    --colorStepperFloatingCollapsedUnselectedForegroundSecondaryHover: #494949;    
    --colorStepperFloatingCollapsedUnselectedForegroundSecondaryPressed: #494949;    
    --colorStepperFloatingCollapsedUnselectedForegroundPrimaryDisabled: #b2b2b2;    
    --colorStepperFloatingCollapsedUnselectedBackgroundHover: #e7e7e7;    
    --colorStepperFloatingCollapsedUnselectedBackgroundPressed: #e7e7e7;    
    --colorStepperFloatingCollapsedUnselectedBackgroundDisabled: #f7f7f7;    
    --colorStepperFloatingCollapsedSelectedBackgroundHover: #313131;    
    --colorStepperFloatingCollapsedSelectedBackgroundPressed: #313131;    
    --colorStepperFloatingCollapsedSelectedBackgroundDisabled: #f7f7f7;    
    --colorStepperFloatingCollapsedSelectedForegroundPrimaryDisabled: #b2b2b2;    
    --colorStepperFloatingCollapsedSelectedForegroundSecondaryDefault: #d6d6d6;    
    --colorStepperFloatingCollapsedSelectedForegroundSecondaryHover: #d6d6d6;    
    --colorStepperFloatingCollapsedSelectedForegroundSecondaryPressed: #d6d6d6;    
    --colorStepperFloatingCollapsedSelectedForegroundSecondaryDisabled: #b2b2b2;    
    --colorStepperFloatingExpandedBackgroundHover: #e7e7e7;    
    --colorStepperFloatingExpandedBackgroundPressed: #e7e7e7;    
    --colorStepperFloatingExpandedBackgroundDisabled: #f7f7f7;    
    --colorStepperFloatingExpandedForegroundPrimaryDisabled: #b2b2b2;    
    --colorStepperFloatingExpandedForegroundSecondaryDefault: #494949;    
    --colorStepperFloatingExpandedForegroundSecondaryHover: #494949;    
    --colorStepperFloatingExpandedForegroundSecondaryPressed: #494949;    
    --colorStepperFloatingExpandedForegroundSecondaryDisabled: #b2b2b2;    
    --colorSwitchBackgroundOff: #b2b2b2;    
    --colorSwitchBackgroundOffDisabled: #d6d6d6;    
    --colorSwitchBackgroundOnDisabled: #d6d6d6;    
    --colorSwitchBorderOff: #b2b2b2;    
    --colorSwitchBorderOffDisabled: #d6d6d6;    
    --colorSwitchBorderOnDisabled: #d6d6d6;    
    --colorSwitchForegroundOffDisabled: #f7f7f7;    
    --colorSwitchForegroundOnDisabled: #f7f7f7;    
    --colorSwitchTrackOff: #b2b2b2;    
    --colorSwitchTrackOn: #8b8b8b;    
    --colorSwitchTrackOffDisabled: #d6d6d6;    
    --colorSwitchTrackOnDisabled: #d6d6d6;    
    --colorSwitchThumbOffDisabled: #f7f7f7;    
    --colorSwitchThumbOnDisabled: #b2b2b2;    
    --colorTagInformationalDefaultBackground: #e7e7e7;    
    --colorTagInformationalDefaultBorder: #e7e7e7;    
    --colorTagInformationalEmphasisBackground: #494949;    
    --colorTagInformationalEmphasisBorder: #494949;    
    --colorTagInformationalSubduedBorder: #d6d6d6;    
    --colorTagInformationalSubduedForeground: #767676;    
    --colorTagInformationalSubduedIcon: #767676;    
    --colorTagNegativeDefaultBackground: #fff0ed;    
    --colorTagNegativeDefaultBorder: #fff0ed;    
    --colorTagNegativeDefaultForeground: #b71000;    
    --colorTagNegativeDefaultIcon: #b71000;    
    --colorTagNegativeEmphasisBackground: #b71000;    
    --colorTagNegativeEmphasisBorder: #b71000;    
    --colorTagNegativeSubduedForeground: #b71000;    
    --colorTagNegativeSubduedIcon: #b71000;    
    --colorTagNegativeSubduedBorder: #d6d6d6;    
    --colorTagPositiveDefaultBackground: #e7fbef;    
    --colorTagPositiveDefaultBorder: #e7fbef;    
    --colorTagPositiveDefaultForeground: #006a25;    
    --colorTagPositiveDefaultIcon: #006a25;    
    --colorTagPositiveEmphasisBackground: #00872f;    
    --colorTagPositiveEmphasisBorder: #00872f;    
    --colorTagPositiveSubduedIcon: #00872f;    
    --colorTagPositiveSubduedForeground: #00872f;    
    --colorTagPositiveSubduedBorder: #d6d6d6;    
    --colorTagWarningDefaultBackground: #ffffa3;    
    --colorTagWarningDefaultBorder: #ffffa3;    
    --colorTagWarningDefaultForeground: #643b00;    
    --colorTagWarningDefaultIcon: #643b00;    
    --colorTagWarningEmphasisBackground: #f6e61b;    
    --colorTagWarningEmphasisBorder: #f6e61b;    
    --colorTagWarningSubduedForeground: #a16c00;    
    --colorTagWarningSubduedIcon: #a16c00;    
    --colorTagWarningSubduedBorder: #d6d6d6;    
    --colorTagHighlightDefaultBackground: #ddf4f4;    
    --colorTagHighlightDefaultBorder: #ddf4f4;    
    --colorTagHighlightDefaultForeground: #00686e;    
    --colorTagHighlightDefaultIcon: #00686e;    
    --colorTagHighlightEmphasisBackground: #00838a;    
    --colorTagHighlightEmphasisBorder: #00838a;    
    --colorTagHighlightSubduedBorder: #d6d6d6;    
    --colorTagHighlightSubduedIcon: #00838a;    
    --colorTagHighlightSubduedForeground: #00838a;    
    --colorTimelineTrackShimmer: #494949;    
    --colorTimelineTrackBackgroundOff: #e7e7e7;    
    --colorToastActionDisabled: #606060;    
    --colorToastActionPressed: #b2b2b2;    
    --colorToastActionHovered: #d6d6d6;    
    --colorToastForeground: #e7e7e7;    
    --colorToastBackground: #313131;    
    --colorToggleBackgroundOffDisabled: #f7f7f7;    
    --colorToggleBackgroundOnDisabled: #d6d6d6;    
    --colorToggleBorderOffDisabled: #b2b2b2;    
    --colorToggleBorderOnDisabled: #d6d6d6;    
    --colorTooltipInformationalBackground: #313131;    
    --colorTooltipInformationalForeground: #e7e7e7;    
    --colorTooltipInformationalBackgroundHovered: #494949;    
    --colorTooltipInformationalBackgroundPressed: #606060;    
    --colorTooltipInformationalForegroundHovered: #d6d6d6;    
    --colorTooltipInformationalForegroundPressed: #c4c4c4;    
    --colorTooltipHighlightedBackground: #00838a;    
    --colorTooltipHighlightedBackgroundHovered: #00686e;    
    --colorTooltipHighlightedBackgroundPressed: #00686e;    
    --colorChatuiIncomingBackground: #f7f7f7;    
    --colorSliderTextOffDefault: #767676;    
    --colorSliderTextOffDisabled: #d6d6d6;    
    --colorSliderTextOnDisabled: #b2b2b2;    
    --colorSliderIconDisabled: #b2b2b2;    
    /* Grey/80
    Use when Text/Tertiary is too light, and Text/Primary is too dark. */
    --colorTextSecondary: #494949;    
    /* (Grey/60)
    Lightest accessible grey text color. */
    --colorTextTertiary: #767676;    
    --colorTextDisabled: #b2b2b2;    
    --colorTextHighlight: #00838a;    
    /* Red/80
    Error Text */
    --colorTextError: #b71000;    
    /* Yellow/60
    Warning Text */
    --colorTextWarning: #a16c00;    
    --colorTextPositive: #00872f;    
    --colorTextSecondaryondark: #d6d6d6;    
    --colorTextDashpass: #00838a;    
    --colorTextAccentedPrimary: #eb1700;    
    --colorTextAccentedSecondary: #00838a;    
    /* Grey/0 */
    --colorBackgroundSecondary: #f7f7f7;    
    /* Grey/5 */
    --colorBackgroundTertiary: #e7e7e7;    
    --colorBackgroundOverlay: #19191980;    
    --colorBackgroundSecondaryinverted: #313131;    
    --colorBorderPrimary: #e7e7e7;    
    /* Grey/10
    Darker border. Use for fully bordered interactive objects (like Buttons, Fields, etc.) */
    --colorBorderSecondary: #d6d6d6;    
    /* Blue/30
    Border color for accessible focus states.  */
    --colorBorderFocus: #b4c2fa;    
    --colorSystemGrey60: #767676;    
    /* B71000 */
    --colorBorderError: #b71000;    
    --colorBorderErrordisabled: #fda294;    
    --colorSystemRed0: #fff7f5;    
    --colorSystemRed5: #fff0ed;    
    --colorSystemRed10: #ffe0db;    
    --colorSystemRed20: #fec7bd;    
    --colorSystemRed30: #fda294;    
    --colorSystemRed40: #fa7463;    
    --colorSystemRed50: #f54323;    
    --colorSystemRed60: #eb1700;    
    /* Use Red 70 when Red 5 is the background color. */
    --colorSystemRed70: #d91400;    
    --colorSystemRed80: #b71000;    
    --colorSystemRed90: #810b00;    
    --colorSystemRed100: #380500;    
    --colorSystemYellow0: #ffffeb;    
    --colorSystemYellow5: #ffffa3;    
    --colorSystemYellow10: #feff58;    
    --colorSystemYellow20: #f6e61b;    
    --colorSystemYellow30: #e8c500;    
    --colorSystemYellow40: #d5a600;    
    --colorSystemYellow50: #bd8800;    
    --colorSystemYellow60: #a16c00;    
    --colorSystemYellow70: #835200;    
    --colorSystemYellow80: #643b00;    
    --colorSystemYellow90: #452700;    
    --colorSystemYellow100: #261500;    
    --colorSystemGreen0: #f6fffa;    
    --colorSystemGreen5: #e7fbef;    
    --colorSystemGreen10: #cef4dd;    
    --colorSystemGreen20: #a9e9c1;    
    --colorSystemGreen30: #7bd89d;    
    --colorSystemGreen40: #4bc275;    
    --colorSystemGreen50: #1fa74f;    
    --colorSystemGreen60: #00872f;    
    /* FKA Brand/Forest Light #006A25 */
    --colorSystemGreen70: #006a25;    
    /* FKA Brand/Forest Base #3a5648 */
    --colorSystemGreen80: #004c1b;    
    /* FKA Brand/Forest Dark (Forest 21) */
    --colorSystemGreen90: #002f10;    
    --colorSystemGreen100: #001206;    
    /* Base */
    --colorSystemTeal60: #00838a;    
    --colorSystemBlue0: #fafbff;    
    --colorSystemBlue5: #f4f6fe;    
    --colorSystemBlue10: #e6ebfd;    
    --colorSystemBlue20: #d1dafb;    
    --colorSystemBlue30: #b4c2fa;    
    --colorSystemBlue40: #91a5f9;    
    --colorSystemBlue50: #6c87f8;    
    /* Base */
    --colorSystemBlue60: #4969f5;    
    --colorSystemBlue70: #2a4de4;    
    --colorSystemBlue80: #1537c7;    
    --colorSystemBlue90: #082496;    
    --colorSystemBlue100: #021247;    
    /* White */
    --colorSystemBaseWhite: #ffffff;    
    /* Also known as System/Grey/100 */
    --colorSystemBaseBlack: #191919;    
    --colorBannerInformationalDefaultForeground: var(--colorSystemBaseBlack);    
    --colorBannerInformationalDefaultIconbackground: var(--colorSystemBaseBlack);    
    --colorBannerInformationalDefaultIcon: var(--colorSystemBaseBlack);    
    --colorBannerInformationalEmphasisForeground: var(--colorSystemBaseWhite);    
    --colorBannerInformationalEmphasisIconbackground: var(--colorSystemBaseWhite);    
    --colorBannerInformationalEmphasisIcon: var(--colorSystemBaseWhite);    
    --colorBannerInformationalSubduedBackground: var(--colorSystemBaseWhite);    
    --colorBannerInformationalSubduedForeground: var(--colorSystemBaseBlack);    
    --colorBannerHighlightDefaultForeground: var(--colorSystemBaseBlack);    
    --colorBannerHighlightDefaultIconbackground: var(--colorSystemBaseBlack);    
    --colorBannerHighlightEmphasisForeground: var(--colorSystemBaseWhite);    
    --colorBannerHighlightEmphasisIconbackground: var(--colorSystemBaseWhite);    
    --colorBannerHighlightEmphasisIcon: var(--colorSystemBaseWhite);    
    --colorBannerHighlightSubduedBackground: var(--colorSystemBaseWhite);    
    --colorBannerHighlightSubduedForeground: var(--colorSystemBaseBlack);    
    --colorBannerNegativeDefaultForeground: var(--colorSystemBaseBlack);    
    --colorBannerNegativeDefaultIconbackground: var(--colorSystemBaseBlack);    
    --colorBannerNegativeEmphasisForeground: var(--colorSystemBaseWhite);    
    --colorBannerNegativeEmphasisIconbackground: var(--colorSystemBaseWhite);    
    --colorBannerNegativeEmphasisIcon: var(--colorSystemBaseWhite);    
    --colorBannerNegativeSubduedBackground: var(--colorSystemBaseWhite);    
    --colorBannerNegativeSubduedForeground: var(--colorSystemBaseBlack);    
    --colorBannerPositiveDefaultForeground: var(--colorSystemBaseBlack);    
    --colorBannerPositiveDefaultIconbackground: var(--colorSystemBaseBlack);    
    --colorBannerPositiveEmphasisForeground: var(--colorSystemBaseWhite);    
    --colorBannerPositiveEmphasisIconbackground: var(--colorSystemBaseWhite);    
    --colorBannerPositiveEmphasisIcon: var(--colorSystemBaseWhite);    
    --colorBannerPositiveSubduedBackground: var(--colorSystemBaseWhite);    
    --colorBannerPositiveSubduedForeground: var(--colorSystemBaseBlack);    
    --colorBannerWarningDefaultForeground: var(--colorSystemBaseBlack);    
    --colorBannerWarningDefaultIconbackground: var(--colorSystemBaseBlack);    
    --colorBannerWarningEmphasisForeground: var(--colorSystemBaseBlack);    
    --colorBannerWarningEmphasisIconbackground: var(--colorSystemBaseBlack);    
    --colorBannerWarningEmphasisIcon: var(--colorSystemBaseBlack);    
    --colorBannerWarningSubduedBackground: var(--colorSystemBaseWhite);    
    --colorBannerWarningSubduedForeground: var(--colorSystemBaseBlack);    
    /* White */
    --colorButtonPrimaryForeground: var(--colorSystemBaseWhite);    
    /* Grey/100 */
    --colorButtonTertiaryForeground: var(--colorSystemBaseBlack);    
    --colorButtonFlatsecondaryForeground: var(--colorSystemBaseBlack);    
    /* System White */
    --colorButtonFabBackgroundDefault: var(--colorSystemBaseWhite);    
    --colorButtonFabForeground: var(--colorSystemBaseBlack);    
    --colorButtonDestructiveForeground: var(--colorSystemBaseWhite);    
    --colorButtonLinkFgDefault: var(--colorSystemBaseBlack);    
    --colorButtonsecondarytoggleBgOnDefault: var(--colorSystemBaseBlack);    
    --colorButtonsecondarytoggleBorderOnDefault: var(--colorSystemBaseBlack);    
    --colorButtonsecondarytoggleFgOffDefault: var(--colorSystemBaseBlack);    
    --colorButtonsecondarytoggleFgOffHovered: var(--colorSystemBaseBlack);    
    --colorButtonsecondarytoggleFgOffPressed: var(--colorSystemBaseBlack);    
    --colorButtonsecondarytoggleFgOnDefault: var(--colorSystemBaseWhite);    
    --colorButtonsecondarytoggleFgOnHovered: var(--colorSystemBaseWhite);    
    --colorButtonsecondarytoggleFgOnPressed: var(--colorSystemBaseWhite);    
    --colorButtonsecondarytogglegroupBgOnDefault: var(--colorSystemBaseBlack);    
    --colorButtonsecondarytogglegroupBorderOnDefault: var(--colorSystemBaseBlack);    
    --colorButtonsecondarytogglegroupFgOffDefault: var(--colorSystemBaseBlack);    
    --colorButtonsecondarytogglegroupFgOffHovered: var(--colorSystemBaseBlack);    
    --colorButtonsecondarytogglegroupFgOffPressed: var(--colorSystemBaseBlack);    
    --colorButtonsecondarytogglegroupFgOnDefault: var(--colorSystemBaseWhite);    
    --colorButtonsecondarytogglegroupFgOnHovered: var(--colorSystemBaseWhite);    
    --colorButtonsecondarytogglegroupFgOnPressed: var(--colorSystemBaseWhite);    
    --colorButtontabBgOffDefault: var(--colorSystemBaseWhite);    
    --colorButtontabBgOffDisabled: var(--colorSystemBaseWhite);    
    --colorButtontabBgOnDefault: var(--colorSystemBaseWhite);    
    --colorButtontabBgOnDisabled: var(--colorSystemBaseWhite);    
    --colorButtontabFgOnDefault: var(--colorSystemBaseBlack);    
    --colorButtontabFgOnHovered: var(--colorSystemBaseBlack);    
    --colorButtontabFgOnPressed: var(--colorSystemBaseBlack);    
    --colorButtontertiarytoggleBgOffDefault: var(--colorSystemBaseWhite);    
    --colorButtontertiarytoggleBgOnDefault: var(--colorSystemBaseBlack);    
    --colorButtontertiarytoggleBorderOffDefault: var(--colorSystemBaseBlack);    
    --colorButtontertiarytoggleFgOffDefault: var(--colorSystemBaseBlack);    
    --colorButtontertiarytoggleFgOffHovered: var(--colorSystemBaseBlack);    
    --colorButtontertiarytoggleFgOffPressed: var(--colorSystemBaseBlack);    
    --colorButtontertiarytoggleFgOnDefault: var(--colorSystemBaseWhite);    
    --colorButtontertiarytoggleFgOnHovered: var(--colorSystemBaseWhite);    
    --colorButtontertiarytoggleFgOnPressed: var(--colorSystemBaseWhite);    
    --colorButtontertiarytogglegroupBgOnDefault: var(--colorSystemBaseBlack);    
    --colorButtontertiarytogglegroupBgOffDefault: var(--colorSystemBaseWhite);    
    --colorButtontertiarytogglegroupBorderOffDefault: var(--colorSystemBaseBlack);    
    --colorButtontertiarytogglegroupFgOnDefault: var(--colorSystemBaseWhite);    
    --colorButtontertiarytogglegroupFgOnHovered: var(--colorSystemBaseWhite);    
    --colorButtontertiarytogglegroupFgOnPressed: var(--colorSystemBaseWhite);    
    --colorButtontertiarytogglegroupFgOffDefault: var(--colorSystemBaseBlack);    
    --colorButtontertiarytogglegroupFgOffHovered: var(--colorSystemBaseBlack);    
    --colorButtontertiarytogglegroupFgOffPressed: var(--colorSystemBaseBlack);    
    /* FFFFFF */
    --colorCardBackgroundDefault: var(--colorSystemBaseWhite);    
    /* FFFFFF */
    --colorCardBackgroundHovered: var(--colorSystemBaseWhite);    
    /* FFFFFF */
    --colorCardBackgroundPressed: var(--colorSystemBaseWhite);    
    /* FFFFFF */
    --colorCardBackgroundDisabled: var(--colorSystemBaseWhite);    
    /* 191919 */
    --colorCardBorderSelectedDefault: var(--colorSystemBaseBlack);    
    /* 191919 */
    --colorCardTitleDefault: var(--colorSystemBaseBlack);    
    --colorChatuiIncomingForeground: var(--colorSystemBaseBlack);    
    --colorChatuiOutgoingBackground: var(--colorSystemBaseBlack);    
    --colorChatuiOutgoingForeground: var(--colorSystemBaseWhite);    
    --colorDatePickerDateUnselectedBgDefault: var(--colorSystemBaseWhite);    
    --colorDatePickerDateUnselectedBgDisabled: var(--colorSystemBaseWhite);    
    --colorDatePickerDateUnselectedBorderDefault: var(--colorSystemBaseWhite);    
    --colorDatePickerDateUnselectedBorderDisabled: var(--colorSystemBaseWhite);    
    --colorDatePickerDateUnselectedFgDefault: var(--colorSystemBaseBlack);    
    --colorDatePickerDateUnselectedFgHovered: var(--colorSystemBaseBlack);    
    --colorDatePickerDateUnselectedFgPressed: var(--colorSystemBaseBlack);    
    --colorDatePickerDateSelectedBgDefault: var(--colorSystemBaseBlack);    
    --colorDatePickerDateSelectedBorderDefault: var(--colorSystemBaseBlack);    
    --colorDatePickerDateSelectedFgDefault: var(--colorSystemBaseWhite);    
    --colorDatePickerDateSelectedFgHovered: var(--colorSystemBaseWhite);    
    --colorDatePickerDateSelectedFgPressed: var(--colorSystemBaseWhite);    
    --colorDatePickerRangeUnselectedBgDefault: var(--colorSystemBaseWhite);    
    --colorDatePickerRangeUnselectedBgDisabled: var(--colorSystemBaseWhite);    
    --colorDatePickerRangeUnselectedBorderDefault: var(--colorSystemBaseWhite);    
    --colorDatePickerRangeUnselectedFgDefault: var(--colorSystemBaseBlack);    
    --colorDatePickerRangeUnselectedFgHovered: var(--colorSystemBaseBlack);    
    --colorDatePickerRangeUnselectedFgPressed: var(--colorSystemBaseBlack);    
    --colorDatePickerRangeSelectedFgDefault: var(--colorSystemBaseBlack);    
    --colorDatePickerRangeSelectedFgHovered: var(--colorSystemBaseBlack);    
    --colorDatePickerRangeSelectedFgPressed: var(--colorSystemBaseBlack);    
    --colorFieldsForegroundInactive: var(--colorSystemBaseBlack);    
    --colorFieldsForegroundActive: var(--colorSystemBaseBlack);    
    --colorFieldsForegroundError: var(--colorSystemBaseBlack);    
    --colorFieldsBorderActive: var(--colorSystemBaseBlack);    
    --colorFieldsLeadingiconActive: var(--colorSystemBaseBlack);    
    --colorFieldsLeadingiconError: var(--colorSystemBaseBlack);    
    --colorFieldsTrailingiconInactive: var(--colorSystemBaseBlack);    
    --colorFieldsTrailingiconActive: var(--colorSystemBaseBlack);    
    --colorFieldsTrailingiconError: var(--colorSystemBaseBlack);    
    --colorListcellcontainerBackgroundDefault: var(--colorSystemBaseWhite);    
    --colorListcellcontainerBackgroundDisabled: var(--colorSystemBaseWhite);    
    --colorMapuiPinunselectedBackgroundDefault: var(--colorSystemBaseWhite);    
    --colorMapuiPinunselectedForegroundDefault: var(--colorSystemBaseBlack);    
    --colorMapuiPinunselectedForegroundDisabled: var(--colorSystemBaseWhite);    
    --colorMapuiPinselectedBackgroundDefault: var(--colorSystemBaseBlack);    
    --colorMapuiPinselectedForegroundDefault: var(--colorSystemBaseWhite);    
    --colorMapuiPinselectedForegroundDisabled: var(--colorSystemBaseWhite);    
    --colorMapuiTextonmapForeground: var(--colorSystemBaseBlack);    
    --colorMapuiTextonmapBorder: var(--colorSystemBaseWhite);    
    --colorMapuiRoutelineBackground: var(--colorSystemBaseBlack);    
    --colorMapuiRoutelineBorder: var(--colorSystemBaseBlack);    
    --colorMapuiRoutelinenodeBackground: var(--colorSystemBaseWhite);    
    --colorMapuiRoutelinenodeBorder: var(--colorSystemBaseBlack);    
    --colorMapuiCurrentlocationBorder: var(--colorSystemBaseWhite);    
    --colorMapuiDasherForeground: var(--colorSystemBaseWhite);    
    --colorMenuItemBgDefault: var(--colorSystemBaseWhite);    
    --colorMenuItemBgDisabled: var(--colorSystemBaseWhite);    
    --colorMenuItemFgDefault: var(--colorSystemBaseBlack);    
    --colorMenuItemFgHovered: var(--colorSystemBaseBlack);    
    --colorMenuItemFgPressed: var(--colorSystemBaseBlack);    
    --colorNotificationDotForegroundDefault: var(--colorSystemBaseWhite);    
    --colorNotificationDotBorderDefault: var(--colorSystemBaseWhite);    
    --colorPaginationLightSelected: var(--colorSystemBaseWhite);    
    --colorPaginationnumberedBgSelectedDefault: var(--colorSystemBaseBlack);    
    --colorPaginationnumberedBorderSelectedDefault: var(--colorSystemBaseBlack);    
    --colorPaginationnumberedFgUnselectedDefault: var(--colorSystemBaseBlack);    
    --colorPaginationnumberedFgUnselectedHovered: var(--colorSystemBaseBlack);    
    --colorPaginationnumberedFgUnselectedPressed: var(--colorSystemBaseBlack);    
    --colorPaginationnumberedFgSelectedDefault: var(--colorSystemBaseWhite);    
    --colorPaginationnumberedFgSelectedHovered: var(--colorSystemBaseWhite);    
    --colorPaginationnumberedFgSelectedPressed: var(--colorSystemBaseWhite);    
    --colorSliderKnobBackgroundDefault: var(--colorSystemBaseBlack);    
    --colorSliderTrackBackgroundOn: var(--colorSystemBaseBlack);    
    --colorStepperFloatingCollapsedUnselectedForegroundPrimaryDefault: var(--colorSystemBaseBlack);    
    --colorStepperFloatingCollapsedUnselectedForegroundPrimaryHover: var(--colorSystemBaseBlack);    
    --colorStepperFloatingCollapsedUnselectedForegroundPrimaryPressed: var(--colorSystemBaseBlack);    
    --colorStepperFloatingCollapsedUnselectedBackgroundDefault: var(--colorSystemBaseWhite);    
    --colorStepperFloatingCollapsedSelectedBackgroundDefault: var(--colorSystemBaseBlack);    
    --colorStepperFloatingCollapsedSelectedForegroundPrimaryDefault: var(--colorSystemBaseWhite);    
    --colorStepperFloatingCollapsedSelectedForegroundPrimaryHover: var(--colorSystemBaseWhite);    
    --colorStepperFloatingCollapsedSelectedForegroundPrimaryPressed: var(--colorSystemBaseWhite);    
    --colorStepperFloatingExpandedBackgroundDefault: var(--colorSystemBaseWhite);    
    --colorStepperFloatingExpandedForegroundPrimaryDefault: var(--colorSystemBaseBlack);    
    --colorStepperFloatingExpandedForegroundPrimaryHover: var(--colorSystemBaseBlack);    
    --colorStepperFloatingExpandedForegroundPrimaryPressed: var(--colorSystemBaseBlack);    
    --colorSwitchBackgroundOn: var(--colorSystemBaseBlack);    
    --colorSwitchBorderOn: var(--colorSystemBaseBlack);    
    --colorSwitchForegroundOff: var(--colorSystemBaseWhite);    
    --colorSwitchForegroundOn: var(--colorSystemBaseWhite);    
    --colorSwitchThumbOff: var(--colorSystemBaseWhite);    
    --colorSwitchThumbOn: var(--colorSystemBaseBlack);    
    --colorTagInformationalDefaultForeground: var(--colorSystemBaseBlack);    
    --colorTagInformationalDefaultIcon: var(--colorSystemBaseBlack);    
    --colorTagInformationalEmphasisForeground: var(--colorSystemBaseWhite);    
    --colorTagInformationalEmphasisIcon: var(--colorSystemBaseWhite);    
    --colorTagInformationalSubduedBackground: var(--colorSystemBaseWhite);    
    --colorTagNegativeEmphasisForeground: var(--colorSystemBaseWhite);    
    --colorTagNegativeEmphasisIcon: var(--colorSystemBaseWhite);    
    --colorTagNegativeSubduedBackground: var(--colorSystemBaseWhite);    
    --colorTagPositiveEmphasisForeground: var(--colorSystemBaseWhite);    
    --colorTagPositiveEmphasisIcon: var(--colorSystemBaseWhite);    
    --colorTagPositiveSubduedBackground: var(--colorSystemBaseWhite);    
    --colorTagWarningEmphasisForeground: var(--colorSystemBaseBlack);    
    --colorTagWarningEmphasisIcon: var(--colorSystemBaseBlack);    
    --colorTagWarningSubduedBackground: var(--colorSystemBaseWhite);    
    --colorTagHighlightEmphasisForeground: var(--colorSystemBaseWhite);    
    --colorTagHighlightEmphasisIcon: var(--colorSystemBaseWhite);    
    --colorTagHighlightSubduedBackground: var(--colorSystemBaseWhite);    
    --colorTimelineTrackBackgroundOn: var(--colorSystemBaseBlack);    
    --colorTimelineTrackForegroundOff: var(--colorSystemBaseBlack);    
    --colorTimelineTrackForegroundOn: var(--colorSystemBaseWhite);    
    --colorToastAction: var(--colorSystemBaseWhite);    
    --colorToggleBackgroundOffDefault: var(--colorSystemBaseWhite);    
    --colorToggleBackgroundOnDefault: var(--colorSystemBaseBlack);    
    --colorToggleBorderOffDefault: var(--colorSystemBaseBlack);    
    --colorToggleBorderOnDefault: var(--colorSystemBaseBlack);    
    --colorToggleForegroundOffDefault: var(--colorSystemBaseWhite);    
    --colorToggleForegroundOffDisabled: var(--colorSystemBaseWhite);    
    --colorToggleForegroundOnDefault: var(--colorSystemBaseWhite);    
    --colorToggleForegroundOnDisabled: var(--colorSystemBaseWhite);    
    --colorTooltipHighlightedForeground: var(--colorSystemBaseWhite);    
    --colorTooltipHighlightedForegroundHovered: var(--colorSystemBaseWhite);    
    --colorTooltipHighlightedForegroundPressed: var(--colorSystemBaseWhite);    
    --colorSliderTextOnDefault: var(--colorSystemBaseBlack);    
    --colorSliderIconDefault: var(--colorSystemBaseBlack);    
    /* Grey/100
    Our darkest color, also known as System/Black */
    --colorTextPrimary: var(--colorSystemBaseBlack);    
    --colorTextPrimaryondark: var(--colorSystemBaseWhite);    
    /* White */
    --colorBackgroundPrimary: var(--colorSystemBaseWhite);    
    --colorBackgroundElevated: var(--colorSystemBaseWhite);    
    --colorBackgroundPrimaryinverted: var(--colorSystemBaseBlack);    
}