@media (max-width: 576px) {
    .container {
        width: 95%;
    }
    .container-title>.slider {
        max-width: 540px;
    }
    .token-container .grid>div {
        flex: 0 1 49%;
        margin: 0 0 8px 0;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    .container-title>.slider {
        padding: 30px 0px 0 0px;
    }
    .container-title>.slider h1 {
        font-size: 32px;
    }
    .tile-container .grid.c8>div,
    .tile-container .grid.c7>div,
    .tile-container .grid.c6>div,
    .tile-container .grid.c5>div,
    .tile-container .grid.c4>div,
    .tile-container .grid.c3>div,
    .tile-container .grid.c2>div {
        flex: 0 1 49%;
    }
}

@media (min-width: 576px) {
    .container-title>.slider {
        /*max-width: 540px;*/
    }
    .container,
    .container-sm {
        max-width: 750px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* ! Large devices (desktops, 992px and up) */

@media (max-width: 991.98px) {
    #mobile-menu-container {
        display: initial;
    }
    #version-container {
        display: none;
    }
    .docs-navigation {
        margin-left: 0;
    }
    .navbar-expand-lg .navbar-collapse {
        position: relative;
        top: inherit;
        right: inherit;
        left: inherit;
        background: inherit;
        margin-top: 0px;
        z-index: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav {
        display: none;
    }
    .utility-nav {
        justify-content: right;
    }
    nav>.container-fluid {
        width: 80%;
    }
    .primary-menu>.container-fluid {
        padding: 0px 16px 0 16px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 1119.98px) {
    #sidebarCollapse {
        display: none;
    }
}

@media (min-width: 992px) {
    #mobile-menu-container {
        display: none;
    }
    #version-container {
        display: initial;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

@media (max-width: 1120px) {
    .docs-navigation.bg-sidebar {
        display: none;
    }
    .docs-content {
        margin-left: inherit;
        min-height: inherit;
    }
    #sidebarCollapse {
        display: initial;
    }
    .logo-wrapper {
        margin: 10px 0px;
        display: none;
    }
    #header .navbar {
        max-height: 60px;
    }
}


/* Default full content large devices (large desktops, 1200px and up) */

@media (max-width: 1360px) {
    #content-nav-container {
        display: none;
    }
    .container-title>.slider {
        max-width: 750px;
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
    .token-container table tr {
        height: 100%;
    }
    .token-container table tr td:nth-child(2) {
        width: auto;
        padding: initial;
        margin: -40px 0 0 50px;
        text-align: left;
    }
    .token-container table tr td:nth-child(3) {
        padding: initial;
        text-align: left;
        margin: 4px 0 0 50px;
    }
    .token-container table tr td:nth-child(4) {
        width: auto;
        padding: initial;
        text-align: left;
        margin: 4px 0 8px 50px;
    }
}