/* =================================== */
/*  Badge
/* =================================== */

.badge {
    font-size: 0.625rem;
    padding: 0.25em 0.4em;
    font-weight: var(--fontWeightBold);
    border-radius: var(--borderRadiusSmall);

    &.badge-contrast-aaa {
        color: var(--colorGreen100);
        background: var(--colorGreen900);
    }

    &.badge-contrast-aa {
        color: var(--colorGreen100);
        background: var(--colorGreen900);
    }

    &.badge-contrast-aa18 {
        background: var(--colorOrange100);
        color: var(--colorOrange900);
    }

    &.badge-contrast-dnp {
        background: var(--colorRed100);
        color: var(--colorRed900);
    }
}