
/* =================================== */
/*  Buttons
/* =================================== */

:root {
    --buttonSlackBackground: #fff;
    --buttonSlackBackgroundHover: #5A1D5E;
    --buttonSlackInk: #5A1D5E;
    --buttonSlackInkHover: #fff;
    --buttonSlackBorder: var(--colorBorderSubtle);
    --buttonSlackBorderHover: var(--buttonSlackBackgroundHover);
}


/* Button Primary */
.btn-primary {
    background-color: var(--ctaButtonBackground);
    border-color: var(--ctaButtonBackground);

    &:hover {
        background-color: var(--ctaButtonBackgroundHover);
        border-color: var(--ctaButtonBackgroundHover);
    }

    &.focus,
    &:focus {
        background-color: var(--ctaButtonBackgroundHover);
        border-color: var(--ctaButtonBackgroundHover);
    }
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--ctaButtonBackgroundHover);
    border-color: var(--ctaButtonBackgroundHover);
}


.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Button Secondary – needs to be reviewed */
.cta-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--colorWhite);
    background-color: transparent;
    margin-left: 12px;
    white-space: nowrap;
    transition: var(--transitionDefault);
    border: 1px solid var(--colorWhite);
    border-radius: 32px;
    padding: 12px 24px;
    width: 177px;
    height: 48px;
    text-decoration: none;

    * {
        text-decoration: none;
    }
}


/* Button Secondary – needs to be reviewed */
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

/* Button Slack */
.btn-slack {
    background-color: var(--buttonSlackBackground);
    border-color: var(--buttonSlackBorder);
    color: var(--buttonSlackInk);
    display: flex;
    align-items: center;
    font-weight: var(--fontWeightSemibold);

    &:hover {
        background-color: var(--buttonSlackBackgroundHover);
        border-color: var(--buttonSlackBorderHover);
        color: var(--buttonSlackInkHover);;
    }

    svg {
        height: 16px;
        width: 16px;
        margin-right: 8px;
        flex-shrink: 0;
    }
}
