/* =================================== */
/*  Content block
/* =================================== */

/* Theme */
:root {
    --contentBlockGap: var(--contentVerticalRhythm);
}

/* Content block */
.content-block {
    margin-top: 0; // should this be !important?
    margin-bottom: var(--contentBlockGap);
}

.content-block p, 
ul.content-block li,
.heading {
    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

ul.content-block, 
ol.content-block{
    ul, ol {
        margin-bottom: 0 !important;
    }
}
