/* =================================== */
/*  Tiles
/*  - used for: Assets, Frames, token grids
/* =================================== */
.layout-tiles {

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 20px;

    > div,
    > a > div {
      position: relative;

      div.preview {
        background-color: var(--colorBackgroundSecondary);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        border-radius: var(--borderRadiusDefault);
        overflow: hidden;
        border: 1px solid var(--colorBorderSubtle);
        padding: 12px;
        position: relative;

        &.borderless {
          border: 0;
        }

        .btn {
          position: absolute;
          top: 8px;
          right: 8px;
          visibility: hidden;
          opacity: 0;
          transition: var(--transitionDefault);
        }

        &:hover {
          .btn {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    > div.titleless {
      padding-bottom: 0px;
      border: 0;

      div.preview {
        background-image: none;
        border-bottom: none;
        padding-bottom: 0px;
      }
    }

    &.c6, 
    &.c7,
    &.c8 {
      .btn-with-icon {
        padding: 4px;

        .label { 
          display: none;
        }
      }
    }
  }
}

.content-block--frames {
  &.layout-tiles {
    .preview {
      padding: 0 !important;
    }
  }
}

.layout-tiles {
	.grid {
		.tile-item {
      border-radius: var(--borderRadiusLarge);
			box-sizing: border-box;
			padding-bottom: 4px;
			background: var(--colorBackgroundPrimary);

			div.preview.small-text {
				font-size: 11px;
			}

      .meta {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 8px 0 0px;
      }

			p.title {
				margin: 0;
				padding: 0;
				font-size: var(--fontSizeSmall);
				line-height: var(--lineHeightSmall);
				font-weight: var(--fontWeightSemibold);
				color: var(--colorInkPrimary);
				overflow-wrap: break-word;
			}
			p.description {
				margin: 0;
				padding: 0;
				font-size: var(--fontSizeTiny);
				line-height: var(--lineHeightTiny);
				font-weight: var(--fontWeightRegular);
				color: var(--colorInkSecondary);
			}

      &.hidden {
        display: none;
      }			
		}
	}

  .empty-state {
    font-size: var(--fontSizeSmall);
    color: var(--colorInkSecondary);
    display: none; // it's displayed conditionally
  }
}


/* 
  Variant: Plain
  - matching the style of image caption
*/
.layout-tiles.variant-plain {
	.grid {
		>div {
			border: 0;
			border-radius: var(--borderRadiusLarge);
			background: var(--pageBackground);

      .preview {
        background: none;
        border: 0;
        justify-content: flex-start;
      }

			img {
				border-radius: none;
        height: auto;
			}

			p.description {
				color: var(--colorInkSecondary);
			}

			p.title {
				color: var(--colorInkSecondary);
				font-weight: var(--fontWeightRegular);
			}
		}
	}
}

/* 
  Variant: Bordered grid
  - matching the style of image caption
*/
.layout-tiles.variant-square-grid {
  .input-search {
      margin-bottom: 12px;
  }

  .grid {
      grid-column-gap: 0;
      grid-row-gap: 0;
      gap: 1px;
      padding: 1px;

      .tile-item {
          outline: 1px solid var(--colorBorderSubtle);
          border-radius: 0;
          padding-bottom: 0;

          .preview {
            border-radius: 0;
            border: 0;
            aspect-ratio: 1/1;
            height: auto;
          }

          .meta {
            position: absolute;
            padding: 8px;
            bottom: 0;
            left: 0;
            right: 0;

            .title {
              color: var(--colorInkSecondary);
              font-size: var(--fontSizeTiny);
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }

            .description { display: none; }
          }

          &.inverted-text {
            .meta {
              .title {
                color: var(--colorInkInverted);
              }
            }
          }
      }
  }

  &.force-natural-height {
      .grid {
          .tile-item {
            .preview {
                aspect-ratio: auto;
                padding-bottom: 36px;
            }
          }
      }
  }
}

/* 
  Variant: Icon grid
  - matching the style of image caption
*/
.layout-tiles.variant-borderless-grid {
  .grid {
      .tile-item {
        padding-bottom: 12px;
        padding: 12px 0 24px;
        justify-items: center; 

          .preview {
            height: auto;
            border: 0;
          }

          .meta {
            align-items: center;
            padding-top: 8px;

            .title {
              color: var(--colorInkSecondary);
              font-size: var(--fontSizeTiny);
              text-align: center;
            }

            .description { display: none; }
          }
      }
  }
}


/* Tile grid configurations */

.layout-tiles img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transform: translateZ(0);
  height: auto;
}

.layout-tiles .grid.c8 {
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 12px;

  .description {
    display: none;
  }

  div p.title {
    font-size: var(--fontSizeTiny);
  }

  div.preview {
    width: 100%;
    height: 90px;
  }
}

.layout-tiles .grid.c7 {
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 12px;

  .description {
    display: none;
  }

  div.preview {
    width: 100%;
    height: 105px;
  }
}

.layout-tiles .grid.c6 {
  grid-template-columns: repeat(6, 1fr);

  div.preview {
    width: 100%;
    height: 120px;
  }
}


.layout-tiles .grid.c5 {
  grid-template-columns: repeat(5, 1fr);

  div.preview {
    width: 100%;
    height: 140px;
    padding: 16px;
  }
}

.layout-tiles .grid.c4 {
  grid-template-columns: repeat(4, 1fr);

  div.preview {
    width: 100%;
    height: 178px;
  }

  &.shortcuts div.preview {
    height: 100px;
    padding: 16px;
  }
}

.layout-tiles .grid.c3 {
  grid-template-columns: repeat(3, 1fr);

  div.preview {
    width: 100%;
    height: 240px;
    padding: 20px;
  }
}

.layout-tiles .grid.c2 {
  grid-template-columns: repeat(2, 1fr);

  div.preview {
    width: 100%;
    height: 350px;
    padding: 20px;
  }
}

.layout-tiles .grid.c1 {
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  div.preview {
    width: 100%;
    height: 320px;
    padding: 20px;
  }
}

.layout-tiles .grid.c1_75 {
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-items: center;

  div.preview {
    width: 100%;
    height: 320px;
    padding: 20px;
  }
}

.layout-tiles .grid.c1_75 > div {
  width: 75%;
}


.layout-tiles div.preview.empty {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 4H8V5H5V16H16V13H17V17H4V4ZM15.2929 5H11V4H17V10H16V5.70709L8.85353 12.8536L8.14642 12.1465L15.2929 5Z' fill='black' fill-opacity='0.3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.layout-tiles.force-natural-height .grid div.preview {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .layout-tiles {
    .grid {
      &.c4,
      &.c5,
      &.c6, 
      &.c7,
      &.c8 {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media (max-width: 576px) {
  .layout-tiles {
    .grid {
      &.c4,
      &.c5,
      &.c6, 
      &.c7,
      &.c8 {
        grid-template-columns: repeat(2, 1fr);
      }
      &.c3 {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}