/* =================================== */
/*  Typography
/* =================================== */

/* Theme */
:root {
    /* Body */
    --contentFontBase: 16px;
    --contentVerticalRhythm: 24px;
    --contentBodyLineHeight: calc(var(--contentVerticalRhythm) + (var(--contentVerticalRhythm) * var(--contentVerticalRhythmAdjustment, 0)));

    /* Supporting sizes */
    --fontSizeSmall: 0.875rem;
    --fontSizeTiny: 0.75rem;
    --lineHeightSmall: 1.5;
    --lineHeightTiny: 1.3;

    /* Heading */
    --headingInk: var(--colorInkPrimary);
    --headingScaleFactor: 0.28;
    --headingLineHeight: 1.3;
    --headingFontWeight: var(--fontWeightBold);
    --headingLevel1Size: 2.3rem;
    --headingLevel2Size: 1.8rem;
    --headingLevel3Size: 1.5rem;

    /* Page Title + Description */
    --pageTitleFontFamily: var(--fontFamily);
    --pageTitleFontSize: 40px;
    --pageTitleFontWeight: 700;
    --pageDescriptionFontSize: 20px;
}

@media (max-width: 768px) {
    :root {
        --headingLevel1Size: 2rem;
        --headingLevel2Size: 1.7rem;
        --headingLevel3Size: 1.5rem;
        --pageTitleFontSize: 32px;
    }
}

body {
    font-family: var(--fontFamily);
    font-size: var(--contentFontBase);
    line-height: var(--contentBodyLineHeight);
    color: var(--colorInkPrimary);
    font-weight: var(--fontWeightRegular);
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
    font-family: var(--headingFontFamily);
    color: var(--headingInk);
    font-size: var(--headingFontSize);
    line-height: var(--headingLineHeight);
    margin-top: calc(var(--contentBlockGap) * var(--contentBlockGapAdjustment));
    font-weight: var(--headingFontWeight);
    margin-bottom: calc(var(--contentBlockGap) / 1.5);


    // global removing margin-top when a heading is the first child in the box
    &:first-child,
    &:nth-child(2) {
        margin-top: 0;
    }
}

p {
    margin-top: 0;
    margin-bottom: var(--paragraphSpacingAfter, calc(var(--contentBlockGap) / 2));
}

p + .content-block {
    margin-top: var(--contentBlockGap);
}

h1,
.heading--level-1 {
    --headingFontSize: var(--headingLevel1Size);
    --contentVerticalRhythmAdjustment: 1.4;
    --contentBlockGapAdjustment: 2;
}

h2,
.heading--level-2 {
    --headingFontSize: var(--headingLevel2Size);
    --contentVerticalRhythmAdjustment: 0.8;
    --contentBlockGapAdjustment: 1.5;
}

h3,
.heading--level-3 {
    --headingFontSize: var(--headingLevel3Size);
    --contentVerticalRhythmAdjustment: 0.7;
    --contentBlockGapAdjustment: 1;
}

h4,
.heading--level-4 {
    --headingFontSize: 1.3rem;
    --contentVerticalRhythmAdjustment: 0.5;
    --contentBlockGapAdjustment: 1;
}

h5,
.heading--level-5 {
    --headingFontSize: 1.1rem;
    --contentVerticalRhythmAdjustment: 0.3;
    --contentBlockGapAdjustment: 1;
}

/* Removing margin-top when a heading follow another heading */
h1 + div.anchor + h2,
h2 + div.anchor + h3,
h3 + div.anchor + h4,
h4 + div.anchor + h5,
h5 + div.anchor + h6 {
    margin-top: 0;
}

section ul {
    list-style-type: disc;
}

.docs-content {
    ol,
    ul {
        li {
            margin-top: 0px;
        }
    }

    section {
        ul {
            li {
                margin-top: 10px;
                padding-left: 5px;
            }
        } 

        ol {
            li {
                margin-top: 10px;
                padding-left: 8px;
            }
        } 
    }
}

mark,
.mark {
    font-family: 'Fira Mono', 'Fira Code', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: 600;
    font-size: 0.825em;
    line-height: var(--contentBodyLineHeight);
    padding: 4px;
    background: var(--colorBackgroundSecondary);
    color: var(--colorCodeMark);
    border-radius: var(--borderRadiusDefault);
    border: 1px solid var(--colorBorderSubtle);
}

/* Basic styles for links and interactive elements */
a,
a:focus {
    transition: var(--transitionDefault);
    color: var(--colorAccent);
}

a:hover,
a:active {
    color: var(--colorAccentAlt);
}

a:focus,
a:active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
button:focus,
button:active {
    outline: none;
}

a:focus-visible,
.btn:focus-visible,
button:focus-visible {
    outline: var(--colorInkPrimary) solid 2px;
    border-radius: 2px;
}

/* Blockquote-specific */
.blockquote,
blockquote {
    padding-left: 20px;
    font-weight: var(--fontWeightRegular);
    font-size: 1.25rem;
    line-height: 1.4;
    border-left: 1px solid var(--colorAccent);
    position: relative;

    .icon {
        position: absolute;
        left: -20px;
        top: 0px;
        color: var(--colorAccent);
        
        svg {
            display: block;
            height: 14px;
            width: 14px;
            flex-shrink: 0;
        }
    }
}

/* Lists */
dl,
ol,
ul {
    margin: 0px;
    padding-left: 24px;
}

ol>li::marker {
    font-weight: bold;
}


/* Code blocks */
pre,
.table {
    margin-bottom: 1.8rem;
}


pre {
    margin-top: 1.8rem;
    max-height: 400px;
    overflow-y: scroll;
}

code {
    padding: 2px 5px;
    border-radius: var(--borderRadiusDefault);
}

pre code {
    font-size: 12px;
}

.code-block {
    border: 1px solid var(--colorBorderSubtle);
    border-radius: var(--borderRadiusDefault);
    margin: 24px 0px;
}
