/* =================================== */
/*  Typography
/* =================================== */

dl,
ol,
ul {
    margin: 0px;
    padding-left: 24px;
}

ol>li::marker {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headingFontFamily);
    color: var(--headingInk);
    line-height: 1.5;
    margin-top: 32px;
    margin-bottom: 12px;
}

h1 {
    margin-top: 48px;
    margin-bottom: 12px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.4;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin-top: 40px;
}

h3 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

h4,
h5,
h6 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

section p,
section blockquote,
div.alert,
ul,
li {
    color: var(--colorInkPrimary);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* Blockquote-specific */
.blockquote {
    margin: 24px 0 24px 24px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    border-left: 1px solid var(--colorAccent);

    &::before {
        content: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.628 0C2.772 0.888 2.844 1.812 2.844 2.772C2.844 3.924 2.604 4.752 2.124 5.256C1.644 5.76 0.936 6.012 0 6.012V5.04C0.6 5.04 1.032 4.896 1.296 4.608C1.56 4.32 1.692 3.876 1.692 3.276V2.34H0.144V0H2.628ZM6.336 0C6.504 1.032 6.588 1.956 6.588 2.772C6.588 3.924 6.348 4.752 5.868 5.256C5.388 5.76 4.68 6.012 3.744 6.012V5.04C4.344 5.04 4.764 4.896 5.004 4.608C5.268 4.32 5.4 3.876 5.4 3.276V2.34H3.888V0H6.336Z' fill='%230F62FE'/%3E%3C/svg%3E%0A");
        position: relative;
        top: -10px;
        left: -26px;
        margin-left: -11px;
    }
}

blockquote {
    border-left: 5px solid var(--colorBorderColorSubtle);
    padding: 10px 20px;
}


/* Code blocks */
pre,
blockquote,
.table {
    margin-bottom: 1.8rem;
}


pre {
    margin-top: 1.8rem;
    max-height: 400px;
    overflow-y: scroll;
}

pre code {
    font-size: 12px;
}

.code-block {
    border: 1px solid var(--colorBorderColorSubtle);
    border-radius: var(--borderRadiusDefault);
    margin: 24px 0px;
}