/* =================================== */
/*  Alert
/* =================================== */
.alert {
  padding: 20px 20px 20px 52px;
  border: 0px;
  margin: 24px 0 48px 0;
}

.embed-responsive {
  margin-top: 20px;
  margin-bottom: 20px;
}

.alert.alert-info {
  background-color: var(--colorPaint);
}

.alert.alert-info::before {
  content: '';
  position: absolute;
  overflow: overlay;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 21px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 17C14.6421 17 18 13.6421 18 9.5C18 5.35786 14.6421 2 10.5 2C6.35786 2 3 5.35786 3 9.5C3 13.6421 6.35786 17 10.5 17Z' fill='black' fill-opacity='0.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5 7C11.0523 7 11.5 6.55228 11.5 6C11.5 5.44772 11.0523 5 10.5 5C9.94772 5 9.5 5.44772 9.5 6C9.5 6.55228 9.94772 7 10.5 7ZM11 14V8H10V14H11Z' fill='white'/%3E%3C/svg%3E%0A");
}

.alert.alert-success::before {
  content: '';
  position: absolute;
  overflow: overlay;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 21px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 17C14.6421 17 18 13.6421 18 9.5C18 5.35786 14.6421 2 10.5 2C6.35786 2 3 5.35786 3 9.5C3 13.6421 6.35786 17 10.5 17Z' fill='%23008141'/%3E%3Cpath d='M14.6504 6.30005L15.3504 7.00005L9.00039 13.36L5.65039 10L6.35039 9.30005L9.00039 11.94L14.6504 6.30005Z' fill='white'/%3E%3C/svg%3E%0A");
}

.alert.alert-warning::before {
  content: '';
  position: absolute;
  overflow: overlay;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 21px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 17C14.6421 17 18 13.6421 18 9.5C18 5.35786 14.6421 2 10.5 2C6.35786 2 3 5.35786 3 9.5C3 13.6421 6.35786 17 10.5 17Z' fill='%23BA4E00'/%3E%3Cpath d='M11 5V11H10V5H11ZM10.5 12C11.1 12 11.5 12.4 11.5 13C11.5 13.6 11.1 14 10.5 14C9.9 14 9.5 13.6 9.5 13C9.5 12.4 9.9 12 10.5 12Z' fill='white'/%3E%3C/svg%3E%0A");
}

.alert.alert-danger::before {
  content: '';
  position: absolute;
  overflow: overlay;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 21px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 17C14.6421 17 18 13.6421 18 9.5C18 5.35786 14.6421 2 10.5 2C6.35786 2 3 5.35786 3 9.5C3 13.6421 6.35786 17 10.5 17Z' fill='%239E2122'/%3E%3Cpath d='M13.1504 6.1499L13.8504 6.8499L11.2104 9.4999L13.8504 12.1499L13.1504 12.8499L10.5004 10.2099L7.85039 12.8499L7.15039 12.1499L9.79039 9.4999L7.15039 6.8499L7.85039 6.1499L10.5004 8.7899L13.1504 6.1499Z' fill='white'/%3E%3C/svg%3E%0A");
}

.alert.alert-success {
  color: #008141;
  background-color: #d3fede;
}

.alert.alert-warning {
  color: #ba4e00;
  background-color: #fff2e8;
}

.alert.alert-danger {
  color: #9e2122;
  background-color: #fff0f0;
}
