/* =================================== */
/*  Callout
/* =================================== */
.callout {
  padding: 16px;
  border: 0px;
  margin: 24px 0;
  border-radius: var(--borderRadiusDefault);
  display: flex;
  gap: 12px;

  .icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &.callout-info {
    color: var(--calloutInfoInk);
    background-color: var(--calloutInfoBackground);

    .icon {
      color: var(--calloutInfoInkSecondary);
    }
  }

  /*&.callout-success {
    color: var(--calloutSuccessInk);
    background-color: var(--calloutSuccessBackground);

    .icon {
      color: var(--calloutSuccessInkSecondary);
    }
  }*/

  &.callout-warning {
    color: var(--calloutWarningInk);
    background-color: var(--calloutWarningBackground);

    .icon {
      color: var(--calloutWarningInkSecondary);
    }
  }

  /*&.callout-danger {
    color: var(--calloutDangerInk);
    background-color: var(--calloutDangerBackground);

    .icon {
      color: var(--calloutDangerInkSecondary);
    }
  }*/
}

.callout-success,
.callout-danger {
  margin: 0 0 .5rem;
  padding: 0 0 4px;
  border-radius: 0;

  .icon {
    width: 22px;
    height: 22px;
  }

  .content {
    line-height: 22px;
  }
}
.callout-success {
  border-bottom: 4px solid var(--calloutSuccessInk);

  .icon,
  .content {
    color: var(--calloutSuccessInk);
  }
}
.callout-danger {
  border-bottom: 4px solid var(--calloutDangerInk);

  .icon,
  .content {
    color: var(--calloutDangerInk);
  }
}

.embed-responsive {
  margin-top: 20px;
  margin-bottom: 20px;
}
