/* =================================== */
/*  Contact
/* =================================== */
.contact-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0;
}
.contact-photo {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
    p {
        font-weight: bold;
        margin-bottom: 0;
    }
    a {
        text-decoration: underline;
        color: inherit;
    }
}