/* =================================== */
/*  Image
/* =================================== */
.img-fluid.max {
  width: 100%;
}

.content-block--image {
  width: 100%;

  img {
    border-radius: var(--borderRadiusDefault);
    display: block;
  }

  &.sn-text-center {
    img {
      margin: 0 auto;
    }
  }
}

.caption {
  font-size: var(--fontSizeSmall);
  line-height: 1.3rem;
  color: var(--colorInkSecondary);
  margin-top: 0.25rem;
}

td .image-container {
  margin: 8px 0px;
}