/* =================================== */
/*  Image
/* =================================== */
img {
  vertical-align: middle;
}

.img-fluid.max {
  width: 100%;
}

.image-container {
  /*width: 100%;
  margin: 24px 0px;*/
}

td .image-container {
  width: calc(100% + 1rem);
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding: 1rem;
  background-color: #d7d7d7;
}

.img-caption {
  display: block;
  margin-top: 0.5rem;
  font-size: .875rem;
  line-height: 1.25;
}

.caption {
  font-size: 14px;
  color: var(--colorInkSecondary);
}
