/* =================================== */
/*  Markdown
/* =================================== */
.content-block--markdown {
  img {
    border-radius: var(--borderRadiusDefault);
    margin-bottom: var(--contentBlockGap);
  }

  .code-toolbar {
    margin-bottom: var(--contentBlockGap);
  }

  &.bordered {
    padding: 16px;
    border: 1px solid var(--colorBorderSubtle);
    border-radius: var(--borderRadiusDefault);
  }

  &.boxed {
    padding: 16px;
    background: var(--colorBackgroundSecondary);
    border-radius: var(--borderRadiusDefault);
  }

  ul, ol {
    margin-bottom: var(--contentBlockGap);
  }
}
