/* =================================== */
/*  Questions section block
/* =================================== */

.questions-section-container {
    a {
        text-decoration: underline;
        font-weight: 500;
        color: inherit;
    }

    p {
        margin-top: 3rem;
    }
}