.data-table-wrapper {
  margin-bottom: 1.5rem;
  overflow-x: auto;
}

table.data-table {
  width: 100%;

  thead {
    tr:first-of-type {
      background-color: transparent;
    }
    th {
      border-bottom: 2px solid #d7d7d7;
      border-top: none;
    }
  }

  tr {
    &:nth-of-type(odd) {
      background-color: #f5f5f5;
    }
  }

  th, td {
    min-width: 9rem;
    max-width: 765px;
    padding: 1rem 1.5rem;
    vertical-align: top;
    overflow-wrap: break-word;

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

table.borderless,
table.borderless td,
table.borderless th,
table.borderless tr {
  border: none;
}

table th.left,
table td.left,
table td.left .sn-text-left,
table td.left .sn-text-center,
table td.left .sn-text-right {
  text-align: left;
}

table th.right,
table td.right,
table td.right .sn-text-left,
table td.right .sn-text-center,
table td.right .sn-text-right {
  text-align: right;
}

table th.center,
table td.center,
table td.center .sn-text-left,
table td.center .sn-text-center,
table td.center .sn-text-right {
  text-align: center;
}

@media screen and (max-width: 768px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table:not(.data-table) tr {
    border-bottom: 3px solid var(--colorBorderColorSubtle);
    display: block;
    margin-bottom: 0.625em;
  }
  table:not(.data-table) td {
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  table:not(.data-table) td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table:not(.data-table) td:last-child {
    border-bottom: 0;
  }
}
