/* =================================== */
/*  Tabs (block & page tabs too)
/* =================================== */

/* Theme */
:root {
  --tabsItemHeight: 32px;
  --tabsGap: 0;
  --tabsActiveIndicatorHeight: 2px;
}

/* Styling */
.nav-tabs {
  display: flex;
  margin-top: 8px !important;
  border-bottom: 0px;
  gap: var(--tabsGap);
  overflow-x: auto;
  overflow-y: hidden;
}

#section-content-page .nav-tabs {
  margin-top: 24px !important;
}

.nav-tabs > li {
  float: none;
}

.nav-tabs .nav-item {
  margin-bottom: 0;
}

.nav-tabs .nav-item .nav-link {
  display: flex;
  border: 0;
  align-items: center;
  background: transparent;
  position: relative;
  border-radius: var(--borderRadiusDefault);
  padding: 0;
  white-space: nowrap !important;
  transition: var(--transitionDefault);
  font-weight: var(--fontWeightSemibold);
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--colorInkPrimary);
  min-height: 40px;
  height: auto;

  span {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    width: 100%;
    padding: 0 16px;
    height: var(--tabsItemHeight);
    border-radius: var(--borderRadiusDefault);
    transition: var(--transitionDefault);
  }

  &:hover {
    span {
      background-color: var(--colorBackgroundSecondary);
    }
  }

  &.active {
    color: var(--colorAccent) !important;

    &:after {
      height: var(--tabsActiveIndicatorHeight);
      width: 100%;
      content: ' ';
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0;
      border-radius: var(--borderRadiusDefault);
      background-color: var(--colorAccent) !important;
    }
  }

  &:not(.active):hover {
    color: var(--colorInkPrimary);
  }
}

.tab-pills {
  margin-top: 24px !important;
  margin-bottom: 24px;
}

.tab-content-block {
  background: var(--colorBackgroundPrimary);
  border: 1px solid var(--colorBorderSubtle);
  border-radius: var(--borderRadiusLarge);
  padding: 24px;
  margin-top: -1px;
}

.tab-pills .tab-content-block {
  padding: 0px 24px;
  border: 0;
  border-left: 1px solid var(--colorBorderSubtle);
  border-radius: 0px;
  margin-bottom: 24px;
  min-height: calc(100% - 24px);
}

.nav-tabs-inline {
  margin-left: 24px;
}

.docs-content .tab-pane > :last-child {
  margin-bottom: 0px;
}

/* Variant: Pills */
.nav-pills .nav-link:not(.active):hover {
  color: var(--colorInkPrimary);
  background-color: var(--colorBackgroundSecondary);
}

.nav-pills .nav-link {
  font-weight: var(--fontWeightSemibold);
  font-size: var(--fontSizeSmall);
  color: var(--colorInkPrimary);
  margin-bottom: 2px;
  border-radius: var(--borderRadiusDefault) 0px 0px var(--borderRadiusDefault);
  transition: var(--transitionDefault);
}

.nav-pills .nav-link.active,
.nav-pills.nav-light .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--colorInkInverted);
}

.nav-pills .nav-link.active {
  background-color: var(--colorAccentSurface) !important;
  color: var(--colorAccent);
  border-right: 1px solid var(--colorAccent);
  margin-right: -1px;
  z-index: 2;
}

/* Responsive behavior */

@media (max-width: 575.98px) {
  .nav-tabs .nav-item .nav-link {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 10px;
    font-size: var(--fontSizeSmall);
  }
}

/* =================================== */
/*  Accordion
/* =================================== */

.accordion {
  border: 1px solid var(--colorBorderSubtle);
  border-radius: var(--borderRadiusLarge);
  overflow: hidden;
}

.accordion a {
  text-decoration: none;
}

.accordion-header {
  z-index: 2;
  font-weight: var(--fontWeightSemibold);
  font-size: var(--fontSizeSmall);
  padding: 12px 20px;
  cursor: pointer;
}

.accordion-section a.collapsed .accordion-header {
  background-color: transparent;
  color: var(--colorInkPrimary);
  border-top: 1px solid var(--colorBorderSubtle);
  border-bottom: 1px solid transparent;
}

.accordion-section a.collapsed .accordion-header:hover {
  background-color: var(--colorBackgroundSecondary);
}

.accordion-section:last-of-type a.collapsed .accordion-header {
  border-bottom: 0px;
}

.accordion-section a:not(.collapsed) .accordion-header {
  background-color: var(--colorAccentSurface);
  color: var(--colorAccent);
  border-bottom: 1px solid var(--colorAccent);
  margin-bottom: 1px;
}

.accordion-body {
  background: var(--colorBackgroundPrimary);
  padding: 16px 24px;
  margin-top: -1px;
}

.accordion-body > :first-child {
  padding-top: 16px;
  margin-top: 0px;
}

.accordion-body > :last-child {
  padding-bottom: 0px; // originally 16px, but it was breaking the last block
  margin-bottom: 0px;
}

.accordion-body > :nth-child(2),
.tabs-as-columns .col-sm > :nth-child(2) {
  // 2nd child, because the first one is anchor
  margin-top: 0px;
}

.tabs-as-columns .col-sm > :last-child {
  margin-bottom: 0px;
}

.accordion .card {
  border: none;
  margin-bottom: 8px;
  background-color: transparent;
}

.accordion .card-header {
  padding: 0;
  border: none;
  background: none;
}

.accordion .card-header a {
  font-size: 16px;
  font-weight: normal;
  padding: 1rem 1.25rem 1rem 2.25rem;
  display: block;
  border-radius: var(--borderRadiusDefault);
  position: relative;
}

.accordion .card-header p {
  margin-top: 0;
  margin-bottom: 0;
}

.accordion .card-header a:hover {
  text-decoration: none;
}

.accordion .card-header a:hover.collapsed {
  color: var(--colorAccent) !important;
}
.accordion .card-header a:before {
  position: absolute;
  content: ' ';
  left: 20px;
  top: calc(50% + 2px);
  width: 9px;
  height: 9px;
  border-color: var(--colorBorderSubtle);
  border-top: 2px solid;
  border-right: 2px solid;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.accordion .card-header a.collapsed:before {
  top: calc(50% - 2px);
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
}

.accordion .card-body {
  line-height: 26px;
}

.accordion.arrow-right .card-header a {
  padding-left: 1.25rem;
}

.accordion.arrow-right .card-header a:before {
  right: 15px;
  left: auto;
}

.accordion.toggle .card-header a:before {
  content: '-';
  border: none;
  font-size: 20px;
  height: auto;
  top: calc(50% + 2px);
  width: auto;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
}

.accordion.toggle .card-header a.collapsed:before {
  content: '+';
  top: calc(50% - 1px);
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
}
