/* =================================== */
/*  Token blocks (token list, token group, single token)
/* =================================== */

/* Token containers */

.token-container {
  margin: 24px 0px;
}

.token-preview-container {
  width: 100%;
  height: 40px;
  border-radius: var(--borderRadiusDefault);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--colorBorderColorSubtle);
  
  &.borderless {
    border: 0;
  }

  &.overflowing {
    overflow: visible;
  }

  &.large {
    width: 100%;
    height: 100%;
    border: 0;

    .token-type-shadow {
      width: 64px;
      height: 64px;
    }
  }

  .token-type-shadow {
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadiusSmall);
    background-color: var(--colorBackgroundPrimary);
  }
}

.reference-badge {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;

  svg {
    fill: var(--colorInkSecondary);
    color: var(--colorBackgroundPrimary);
    display: block;
  }
}

.token-preview-container-radius {
  width: 20px;
  height: 20px;
  margin: auto;  background-color: var(--colorBackgroundPrimary);
  border: 1px solid var(--colorBorderColorProminent);
  border-radius: var(--borderRadiusSmall);
}

.token-preview-container-border {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: var(--borderRadiusDefault);
  background-color: var(--colorBackgroundPrimary);

}

.token-preview-container-border.large,
.token-preview-container-radius.large,
.token-preview-container-blur.large {
  width: 64px;
  height: 64px;
}

.token-preview-container-blur {
  width: 20px;
  height: 20px;
  margin: auto;
  border-radius: var(--borderRadiusDefault);
  background-color: var(--colorInkSecondary);
}

.token-preview-container-blur-text-unblurred {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: white;
}

/* Token Headers */

.token-group-header {
  color: var(--colorInkPrimary);
  font-size: 1rem;
  font-weight: 500;
}

.token-group-header span.light {
  color: var(--colorInkSecondary);
}

/* Token tables */
.token-value {
  font-family: "Fira Mono", monospace;
  font-size: 11px;
  line-height: 16px;
  background: transparent;
  border-radius: var(--borderRadiusSmall);
  display: inline-flex;
  color: var(--colorInkPrimary);
}

.token-table {
  .item {
    display: flex;
    gap: 24px;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--colorBorderColorSubtle);

    .preview {
      width: 148px;
      flex-shrink: 0;
    }

    .info {
      width: 100%;
      display: flex;
      gap: 4px;
      flex-direction: column;

      .name {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        color: var(--colorInkPrimary);
      }

      .description {
        font-size: 12px;
        line-height: 16px;
        color: var(--colorInkSecondary);
      }
    }

    .custom-properties {
      width: 260px;
      flex-shrink: 0;
      border-left: 1px solid var(--colorBorderColorSubtle);
      background: var(--colorBackgroundPrimary);
      padding: 0 0 0 16px;
    }
  }
}

/* Custom properties */
.custom-properties {
  width: 100%;
  display: flex;
  gap: 4px;
  flex-direction: column;
  background: var(--colorBackgroundSecondary);
  padding: 12px;
  border-radius: var(--borderRadiusDefault);
  font-size: 12px;
  line-height: 16px;
  color: var(--colorInkSecondary);
  
  .property {
    display: flex;
    gap: 4px;
    justify-content: space-between;

    .label {
      flex-shrink: 0;
    }
    
    .value { 
      color: var(--colorInkPrimary);
      text-align: right;

      mark {
        font-size: 11px;
        padding: 0 4px;
        line-height: 16px;
      }
    }
  }
}

a.custom-property-link {
  color: var(--colorInkPrimary);
  text-decoration: underline;

  .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  &:hover {
    color: var(--colorAccent);
  }
}

/* Token grids */

.token-container .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.token-container .grid.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.token-container .grid.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.token-container .grid.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}

.token-container .grid > div > div.preview {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid var(--colorBorderColorSubtle);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  overflow: hidden;
  position: relative;
}

.token-container .grid > div > div.preview .color-preview {
  border-radius: 0;
  border: 0;
}

.token-container .color-preview {
  width: 100%;
  height: 100%;
}

.token-container .grid > div > div.preview.small-text {
  font-size: 11px;
}

.token-container .grid > div > p.title {
  margin: 8px 12px 4px 8px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--colorInkPrimary);
}

.token-container .grid > div > p.description {
  margin: 0px 12px 4px 8px;
  padding: 0;
  font-size: 12px;
  line-height: 1.6;
  font-weight: normal;
  color: var(--colorInkSecondary);
}

.token-container .grid > div {
  border: 1px solid var(--colorBorderColorSubtle);
  border-radius: var(--borderRadiusDefault);
  box-sizing: border-box;
  overflow: hidden;
  background: var(--colorBackgroundPrimary);
  padding-bottom: 4px;
}

.token-container .grid > div.spacer {
  border: 0px;
}

.token-container .grid .custom-properties {
  margin: 12px 0 0;
  background: transparent;
  border-top: 1px solid var(--colorBorderColorSubtle);
  border-radius: 0;
  padding-bottom: 8px;
}

.token-container .grid .custom-properties .custom-property-item {
  overflow-wrap: break-word;
}

/* Token stack */

.token-container .stack {
  border-radius: var(--borderRadiusLarge);
}

.token-group-container.variant-stack-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.token-container .stack .stack-item {
  display: flex;
  position: relative;

  .token-preview-container {
    width: 140px;
    flex-shrink: 0;
  }

  .reference-badge {
    svg {
      fill: var(--colorInkPrimary);
      color: rgba(255,255,255,0.3);
    }
  }

  &.inverted-text {
    .reference-badge {
      svg {
        color: rgba(0,0,0,0.3);
      }
    }
  }
}

.token-container .stack .stack-item.bordered {
  border: 1px solid var(--colorBorderColorSubtle);
}

.token-container .stack .stack-item.is-color {
  background-image: linear-gradient(
      45deg,
      var(--colorBackgroundSecondary) 25%,
      transparent 25%
    ),
    linear-gradient(
      -45deg,
      var(--colorBackgroundSecondary) 25%,
      transparent 25%
    ),
    linear-gradient(45deg, transparent 75%, var(--colorBackgroundSecondary) 75%),
    linear-gradient(
      -45deg,
      transparent 75%,
      var(--colorBackgroundSecondary) 75%
    );
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

  .token-value {
    background: transparent;
  }
}

.token-container .stack .stack-item .preview {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  color: var(--colorNeutral900);
}

.token-container .stack .stack-item .value {
  text-align: right;
  font-size: 13px;
  white-space: nowrap;
}

.token-container .stack .stack-item.inverted-text .preview {
  color: var(--colorWhite);

  .token-value {
    color: var(--colorWhite);
  }
}

.token-container .stack .stack-item:first-child,
.token-container .stack .stack-item:first-child .preview {
  border-top-left-radius: var(--borderRadiusLarge);
  border-top-right-radius: var(--borderRadiusLarge);
}

.token-container .stack .stack-item:last-child,
.token-container .stack .stack-item:last-child .preview {
  border-bottom-left-radius: var(--borderRadiusLarge);
  border-bottom-right-radius: var(--borderRadiusLarge);
}

/* fallback support for non-color tokens in Color stack type */

.token-container .stack .stack-item.fallback {
  .name {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
  }
  
  .preview {
    padding-left: 0;
  }
}

.token-container .stack .stack-item.fallback {
  align-items: center;
  border-bottom: 1px solid var(--colorBorderColorSubtle);
}

.token-container .stack .stack-item.fallback:last-child {
  border-bottom: 0;
}

@media (max-width: 576px) {
  .token-container .grid > div,
  .token-container .grid > a {
    flex: 0 1 49%;
    margin: 0 0 8px 0;
  }

  .token-container .grid > div {
    flex: 0 1 49%;
    margin: 0 0 8px 0;
  }
}

@media (max-width: 768px) {
  .token-group-container.variant-stack-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .token-container table tr {
    height: 100%;
  }
  .token-container table tr td:nth-child(2) {
    width: auto;
    padding: initial;
    margin: -40px 0 0 50px;
    text-align: left;
  }
  .token-container table tr td:nth-child(3) {
    padding: initial;
    text-align: left;
    margin: 4px 0 0 50px;
  }
  .token-container table tr td:nth-child(4) {
    width: auto;
    padding: initial;
    text-align: left;
    margin: 4px 0 8px 50px;
  }
}
