/* =================================== */
/*  Token blocks (token list, token group, single token)
/* =================================== */

/* Token containers */

.token-preview-container {
  width: 100%;
  height: 40px;
  border-radius: var(--borderRadiusDefault);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--colorBorderSubtle);
  justify-content: center;
  align-items: center;
  color: var(--colorInkPrimary);
  
  &.is-color,
  &.borderless {
    border: 0;
  }

  &.inverted-text {
    color: var(--colorInkInverted);
  }

  &.overflowing {
    overflow: visible;
  }

  &.large {
    width: 100%;
    height: 100%;
    border: 0;

    .token-type-shadow {
      width: 64px;
      height: 64px;
    }
  }

  .token-type-shadow {
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadiusSmall);
    background-color: var(--colorBackgroundPrimary);
    z-index: 2;
  }

  .color-preview {
    border: 0 !important;
  }
}

.reference-badge {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;

  svg {
    fill: var(--colorInkSecondary);
    color: var(--colorBackgroundPrimary);
    display: block;
    flex-shrink: 0;
  }
}

.theme-badge {
  position: absolute;
  bottom: 6px;
  right: 6px;

  svg {
    width: 16px;
    height: 16px;
    display: block;
  }
}

.token-preview-container-radius {
  width: 20px;
  height: 20px;
  margin: auto;  background-color: var(--colorBackgroundPrimary);
  border: 1px solid var(--colorBorderProminent);
  border-radius: var(--borderRadiusSmall);
}

.token-preview-container-border {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: var(--borderRadiusDefault);
  background-color: var(--colorBackgroundPrimary);

}

.token-preview-container-border.large,
.token-preview-container-radius.large,
.token-preview-container-blur.large {
  width: 64px;
  height: 64px;
}

.token-preview-container-blur {
  width: 20px;
  height: 20px;
  margin: auto;
  border-radius: var(--borderRadiusDefault);
  background-color: var(--colorInkSecondary);
}

.token-preview-container-blur-text-unblurred {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: white;
}

/* Token Headers */

.token-group-header {
  color: var(--colorInkPrimary);
  font-size: 1rem;
  font-weight: var(--fontWeightSemibold);
}

.token-group-header span.light {
  color: var(--colorInkSecondary);
}

/* Token tables */
.token-value {
  font-family: "Fira Mono", monospace;
  font-size: 11px;
  line-height: 16px;
  background: transparent;
  border-radius: var(--borderRadiusSmall);
  display: inline-flex;
  max-height: 38px;
  max-width: 100%;
  position: relative;
  overflow: auto;
  background: /* Shadow covers */
  linear-gradient(var(--colorBackgroundPrimary) 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), var(--colorBackgroundPrimary) 70%) 0 100%, /* Shadows */
  radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background: /* Shadow covers */
  linear-gradient(var(--colorBackgroundPrimary) 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), var(--colorBackgroundPrimary) 70%) 0 100%, /* Shadows */
  radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: var(--colorBackgroundPrimary);
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.token-table {
  .item {
    display: flex;
    gap: 24px;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--colorBorderSubtle);

    .basic-info {
      display: flex;
      gap: 16px;
      width: 100%;
    }

    .preview {
      width: 148px;
      flex-shrink: 0;
    }

    .previews-side-by-side {
      gap: 8px;
      display: flex;

      .preview {
        width: 120px;
        flex-grow: 1;
      }
    }

    .info {
      width: 100%;
      display: flex;
      gap: 4px;
      flex-direction: column;

      .name {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        color: var(--colorInkPrimary);
      }

      .description {
        font-size: 12px;
        line-height: 16px;
        color: var(--colorInkSecondary);
      }
    }

    .custom-properties {
      width: 260px;
      flex-shrink: 0;
      border-left: 1px dashed var(--colorBorderSubtle);
      background: var(--colorBackgroundPrimary);
      padding: 0 0 0 16px;
      border-radius: 0;
    }
  }
}


@media (max-width: 768px) {
  .token-table {
    .item {
      flex-direction: column;
      border-bottom: 1px solid var(--colorBorderProminent);
      gap: 12px;

      .basic-info {
        flex-direction: column;
      }

      .custom-properties {
        border-left: 0;
        padding: 12px 0 0 0;
        width: 100%;
        border-top: 1px dashed var(--colorBorderSubtle);
      }

      .single-preview {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: 100%;
        align-items: center;

        .token-preview-container {
          max-width: 148px;
        }
      }
    }
  }
}

/* Custom properties */
.custom-properties {
  width: 100%;
  display: flex;
  gap: 6px;
  flex-direction: column;
  background: var(--colorBackgroundSecondary);
  padding: 12px;
  border-radius: var(--borderRadiusDefault);
  font-size: 12px;
  line-height: 16px;
  color: var(--colorInkSecondary);
  
  .property {
    display: flex;
    gap: 4px;
    justify-content: space-between;

    .label {
      flex-shrink: 0;
    }
    
    .value { 
      color: var(--colorInkPrimary);
      text-align: right;

      mark {
        font-size: 11px;
        padding: 0 4px;
        line-height: 16px;
      }

      svg {
        height: 16px;
        width: 16px;
      }

      a.property-link {
        display: flex;
      }
    }
  }
}

/* Token grids */

.content-block--token-container .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 24px;

  .token-previews {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .preview {
      height: 68px;
    }
  }

  &.variant-grid-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
  }

  &.variant-grid-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
  }

  &.variant-grid-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .content-block--token-container .grid,
  .content-block--token-container .grid.variant-grid-3,
  .content-block--token-container .grid.variant-grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .content-block--token-container .grid,
  .content-block--token-container .grid.variant-grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}


.content-block--token-container .grid > div div.preview {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  overflow: hidden;
  position: relative;
  border-radius: var(--borderRadiusDefault);

  &.bordered {
    border: 1px solid var(--colorBorderSubtle);
  }
}

.content-block--token-container .color-preview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorInkPrimary);
  border-radius: var(--borderRadiusDefault);

  &.inverted-text {
    color: var(--colorInkInverted);
  }

  &.bordered {
    border: 1px solid var(--colorBorderSubtle);
  }

  .token-value {
    background: none;
  }
}

.content-block--token-container .grid > div div.preview.small-text {
  font-size: 11px;
}

.content-block--token-container .grid > div > p.title {
  margin: 8px 0 4px 0;
  padding: 0;
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightSemibold);
  line-height: var(--lineHeightSmall);
  color: var(--colorInkPrimary);
}

.content-block--token-container .grid > div > p.description {
  margin: 0px 0 4px 0;
  padding: 0;
  font-size: var(--fontSizeTiny);
  font-weight: var(--fontWeightRegular);
  line-height: var(--lineHeightTiny);
  color: var(--colorInkSecondary);
}

.content-block--token-container .grid > div.token-grid--item {
  border-radius: var(--borderRadiusDefault);
  box-sizing: border-box;
  overflow: hidden;
  background: var(--colorBackgroundPrimary);
  padding-bottom: 4px;
}

.content-block--token-container .grid > div.spacer {
  border: 0px;
}

.content-block--token-container .grid .custom-properties {
  margin: 12px 0 0;
  background: transparent;
  border-top: 1px solid var(--colorBorderSubtle);
  border-radius: 0;
  padding: 12px 0 0;

  .label {
    max-width: 50%;
  }

  .value {
    overflow-wrap: anywhere;
  }
}

.content-block--token-container .grid .custom-properties .custom-property-item {
  overflow-wrap: break-word;
}

/* Token stack */

.content-block--token-group-container {
  .stack {
    border-radius: var(--borderRadiusLarge);
  }

  &.variant-stack-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.content-block--token-container .stack .stack-item {
  display: flex;
  position: relative;

  .token-preview-container {
    width: 140px;
    flex-shrink: 0;
  }

  .reference-badge {
    svg {
      fill: var(--colorInkPrimary);
      color: rgba(255,255,255,0.3);
      flex-shrink: 0;
    }
  }

  &.inverted-text {
    .reference-badge {
      svg {
        color: rgba(0,0,0,0.3);
        fill: var(--colorInkInverted);
        flex-shrink: 0;
      }
    }
  }
}

.content-block--token-container .stack .stack-item.bordered {
  border: 1px solid var(--colorBorderSubtle);
}

.content-block--token-container .stack .stack-item.is-color {
  background-image: linear-gradient(
      45deg,
      var(--colorBackgroundSecondary) 25%,
      transparent 25%
    ),
    linear-gradient(
      -45deg,
      var(--colorBackgroundSecondary) 25%,
      transparent 25%
    ),
    linear-gradient(45deg, transparent 75%, var(--colorBackgroundSecondary) 75%),
    linear-gradient(
      -45deg,
      transparent 75%,
      var(--colorBackgroundSecondary) 75%
    );
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

  .token-value {
    background: transparent;
    display: block;
  }
}

.content-block--token-container .stack .stack-item .preview {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightSemibold);
  padding: 12px;
  color: var(--colorNeutral900);
  position: relative;

  &.bordered {
    box-shadow: inset 0px 0px 0px 1px var(--colorBorderSubtle);
  }
}

.content-block--token-container .stack .stack-item .value {
  text-align: right;
  font-size: 13px;
  align-self: center;

  .token-value {
    display: block;
  }
}

.content-block--token-container .stack .stack-item .preview.inverted-text {
  color: var(--colorWhite);

  .token-value {
    color: var(--colorWhite);
  }
}

.content-block--token-container .stack .stack-item:first-child,
.content-block--token-container .stack .stack-item:first-child .preview {
  border-top-left-radius: var(--borderRadiusLarge);
  border-top-right-radius: var(--borderRadiusLarge);
}

.content-block--token-container .stack .stack-item .previews-side-by-side .preview:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.content-block--token-container .stack .stack-item .previews-side-by-side .preview:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 35%;
}

.content-block--token-container .stack .stack-item:last-child,
.content-block--token-container .stack .stack-item:last-child .preview {
  border-bottom-left-radius: var(--borderRadiusLarge);
  border-bottom-right-radius: var(--borderRadiusLarge);
}

.content-block--token-container .stack .stack-item .previews-side-by-side {
  display: flex;
  width: 100%;
  gap: 1px;
}

/* fallback support for non-color tokens in Color stack type */

.content-block--token-container .stack .stack-item.fallback {
  .name {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
  }
  
  .preview {
    padding-left: 0;
  }
}

.content-block--token-container .stack .stack-item.fallback {
  align-items: center;
  border-bottom: 1px solid var(--colorBorderSubtle);
}

.content-block--token-container .stack .stack-item.fallback:last-child {
  border-bottom: 0;
}

@media (max-width: 576px) {
  .content-block--token-container .grid > div,
  .content-block--token-container .grid > a {
    flex: 0 1 49%;
    margin: 0 0 8px 0;
  }

  .content-block--token-container .grid > div {
    flex: 0 1 49%;
    margin: 0 0 8px 0;
  }
}

@media (max-width: 768px) {
  .content-block--token-group-container.variant-stack-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .content-block--token-container table tr {
    height: 100%;
  }
  .content-block--token-container table tr td:nth-child(2) {
    width: auto;
    padding: initial;
    margin: -40px 0 0 50px;
    text-align: left;
  }
  .content-block--token-container table tr td:nth-child(3) {
    padding: initial;
    text-align: left;
    margin: 4px 0 0 50px;
  }
  .content-block--token-container table tr td:nth-child(4) {
    width: auto;
    padding: initial;
    text-align: left;
    margin: 4px 0 8px 50px;
  }
}


/** Contrast grid **/
.token-block-variant--contrast-grid {
  display: flex;
  flex-direction: column;
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightSemibold);

  .contrast-grid {
    display: flex;
    flex-direction: column;

    .contrast-grid--header {
      display: flex;
      position: sticky;
      top: calc(6px + var(--topNavHeight, 0px) + var(--tabOffset, -6px));
      padding-top: 6px;
      background: var(--colorBackgroundPrimary);
    }

    .grid-content--header {
      overflow: hidden;
    }
  }

  .contrast-grid--content {
    display: flex;

    .grid-content--table {
      overflow: auto;
    }
  }

  .header-column--cell,
  .corner-tile {
    padding-right: 40px;
    flex-shrink: 0;
    min-width: 220px;
    background: var(--colorBackgroundPrimary);
    padding: 6px;
    font-weight: var(--fontWeightBold);
  }

  .corner-tile {
    justify-content: space-between;
    display: flex;
    padding: 2px;
    font-weight: var(--fontWeightSemibold);

    .swatch {
      flex-direction: row;
      justify-content: space-between;
      padding: 6px;
      align-items: center;
      background-color: var(--colorBackgroundAlt);
    }
  }

  .grid--header-row,
  .grid--row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .cell {
      display: flex;
      width: 86px;
      height: 86px;  
      flex-shrink: 0;
      padding: 2px;
      transition: all 0.2s ease-in-out;

      &.highlighted {
        background: #f6d8ba !important;
      }
    }
  }

  .grid--header-row {
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-weight: var(--fontWeightBold);

    &::-webkit-scrollbar {
      display: none;
    }

    .cell {
      height: auto;
    }
  }

  .inverted-text {
    color: var(--colorInkInverted);
  }

  .bordered {
    box-shadow: inset 0px 0px 0px 1px var(--colorBorderSubtle);
  }

  .swatch {  
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: var(--borderRadiusSmall);

    .contrast {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: var(--fontSizeTiny);
      line-height: 1;
    }

    .color-fill {
      padding: 6px;
      justify-content: space-between;
      overflow: auto;
      height: 100%;
      display: flex;
      align-content: space-between;
      flex-direction: column;
      border-radius: var(--borderRadiusSmall);

      .labels {
        .value {
          font-weight: var(--fontWeightSemibold);
          font-size: var(--fontSizeTiny);
        }
      }
    }

    &.swatch-empty { 
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--colorBackgroundAlt);
      color: var(--colorInkTertiary);

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}