/* =================================== */
/*  content-nav-container
/* =================================== */
#content-nav-container {
  @media (min-width: 1260px) {
    flex-shrink: 0;
    width: 300px;
    padding-right: 1rem;
  }
}

#content-nav {
  align-self: flex-start;

  @media (min-width: 1260px) {
    position: sticky;
    top: 120px;
    z-index: 10;
    width: 100%;
  }
}

#content-nav ul {
  list-style-type: none;
  margin: 0 0 0 16px;
  padding: 0 0 0 16px;
  border-left: 3px solid var(--colorBorderColorProminent);
}

#content-nav > ul {
  margin: 0;
}

#content-nav > ul > li.sub {
  margin-left: 12px;
}

#content-nav > ul > li.sub-2 {
  margin-left: 24px;
}

#content-nav li.active > a {
  font-weight: 500;
  position: relative;
}

#content-nav li.active > a::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: -19px;
  top: 0;
  border-left: 3px solid #00a1ff;
}

#content-nav li.sub.active > a::before {
  left: -29px;
}

#content-nav li.sub-2.active > a::before {
  left: -43px;
}

#content-nav a {
  text-decoration: none;
  display: block;
  padding: 4px 0px;
  color: var(--colorInkSecondary);
  transition: all 50ms ease-in-out, color 200ms ease-in-out;
  /* 💡 This small transition makes setting of the active state smooth */
}

.content-nav-header {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

#content-nav a:hover,
#content-nav a:focus {
  color: var(--colorInkPrimary);
}