/* =================================== */
/*  Footer
/* =================================== */

.container-footer {
  border-top: 1px solid var(--colorBorderStructure);
  padding: 0 var(--contentContainerPadding);

  > .slider {
    max-width: calc(var(--contentMaxWidth) + var(--tocContainerWidth));
    margin: 0px auto;
    padding: 60px 0px 20px 0px;
    z-index: 1;
  }

  &.small {
    > .slider {
      display: flex;
      align-items: center;
      height: 59px;
      padding: 0;
    }
  }

  ul li {
    margin-bottom: 8px;
  }

  p,
  a,
  p.copy {
    font-size: var(--fontSizeSmall);
    line-height: var(--contentBodyLineHeight);
    color: var(--colorInkSecondary);
  }

  p:last-child {
    margin-bottom: 0;
  }

  p.copy {
    color: var(--colorInkSecondary);
  }

  h4,
  h5,
  h6 {
    margin-bottom: 16px;
  }
}

/*=== 6.1 Social Icons ===*/

.social-icons {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.social-icons li {
  margin: 0px 6px;
  padding: 0;
  overflow: visible;
}

.social-icons li a {
  display: block;
  height: 26px;
  line-height: 26px;
  width: 26px;
  font-size: 18px;
  text-align: center;
  color: #4d555a;
  text-decoration: none;
}

.social-icons li i {
  line-height: inherit;
}

.social-icons.social-icons-sm li {
  margin: 0px 4px;
}

.social-icons.social-icons-sm li a {
  font-size: 15px;
  width: 22px;
}

.social-icons.social-icons-lg li a {
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 22px;
}

.social-icons.social-icons-light li a {
  color: #eee;
}

.social-icons.social-icons-muted li a {
  color: #aab1b8;
}

.social-icons li:hover a {
  color: #999;
}

/*=== 6.2 Back to Top ===*/

#back-to-top {
  display: none;
  position: fixed;
  z-index: 1030;
  bottom: 8px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.22);
  text-align: center;
  color: #fff;
  font-size: 14px;
  width: 36px;
  height: 36px;
  line-height: 34px;
  border-radius: var(--borderRadiusDefault);
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

#back-to-top:hover {
  background-color: #0366d6;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

@media (max-width: 575.98px) {
  #back-to-top {
    z-index: 1029;
  }
}
