/* =================================== */
/*  Footer
/* =================================== */

.container-footer {
  background-color: #f8f8f8;
}

.container-footer p {
  font-size: .875rem;
  line-height: 23px;
  color: #555;
}

.global-footer__list {
  margin-bottom: 1rem;
  padding-left: 0;
  font-size: .875rem;
  list-style: none;

  & > li {
    margin-bottom: 0.25rem;
  }
}

/*=== 6.2 Back to Top ===*/

#back-to-top {
  display: none;
  position: fixed;
  z-index: 1030;
  bottom: 8px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.22);
  text-align: center;
  color: #fff;
  font-size: 14px;
  width: 36px;
  height: 36px;
  line-height: 34px;
  border-radius: var(--borderRadiusDefault);
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

#back-to-top:hover {
  background-color: #0366d6;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

@media (max-width: 575.98px) {
  #back-to-top {
    z-index: 1029;
  }
}
