/* =================================== */
/*  Layouts
/* =================================== */

/*=== Theme ===*/
:root {
  --siteMaxWidth: none;
  --contentMaxWidth: 756px;
  --contentContainerPadding: 32px;
  --tocContainerWidth: 280px;

  /* Side Navigation */
  --sideNavWidth: 300px;
  --sideNavBackground: var(--colorBackgroundPrimary);
  --sideNavBorderColor: var(--colorBorderStructure);
  --sideNavElevation: none;
  --sideNavInk: var(--colorInkPrimary);
  --sideNavInkTab: var(--colorInkSecondary);
  --sideNavInkSection: var(--colorInkSecondary);
  --sideNavPadding: 16px; 
  --sideNavGap: 0px;

  /* Side Navigation Item */
  --sideNavItemHoverBackground: rgba(0,0,0,0.04);
  --sideNavItemHoverInk: var(--sideNavInk);
  --sideNavItemActiveBackground: var(--colorAccentSurface);
  --sideNavItemActiveInk: var(--colorAccent);
  --sideNavItemBorderRadius: var(--navItemBorderRadius);
  --sideNavItemActiveBorderWidth: 0px;
  --sideNavItemActiveBorderColor: var(--sideNavItemActiveInk);
  --sideNavItemPadding: 12px;
  --sideNavItemHeight: 36px;
  --sideNavItemFontSize: var(--fontSizeSmall);
  --sideNavItemFontWeight: var(--fontWeightSemibold);
  --sideNavSubItemIndentMargin: var(--sideNavPadding);
  --sideNavSubItemIndentPadding: 0px;

  --sideNavButtonSearchBackground: var(--colorBackgroundSecondary);

  /* Left Navigation Group */
  --sideNavGroupTextTransform: uppercase;
  --sideNavGroupFontWeight: var(--fontWeightBold);
  --sideNavGroupFontSize: var(--fontSizeTiny);
  --sideNavGroupMarginTop: 32px;
  --sideNavGroupInk: var(--colorInkTertiary);
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .site {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;

    .site-content-wrapper {
      margin-right: auto;
      margin-left: auto;
      max-width: var(--siteMaxWidth);
      
      .site-content {
        display: flex;
        min-height: calc(100vh - 204px); // todo: calculate header height and paddings
      }
    }
  }
}

.docs-content {
  flex-grow: 1;
  background-color: var(--pageBackground);
  max-width: calc(100vw - var(--sideNavWidth, 0px));
  min-height: calc(100vh - 242px);
  display: flex;
  flex-direction: column;

    >.content-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      padding: 24px var(--contentContainerPadding) 0;
      margin: var(--pageHeaderMargin);
  }
}


/*=== Generic ===*/
#main-wrapper {
  background: var(--pageBackground);
}

/*=== Overrides for dark style (of the sidebar or everything) ===*/

.style-dark {
  --sideNavBackground: var(--colorNeutral900);
  --sideNavBorderColor: var(--sideNavBackground);
  --sideNavInk: var(--colorInkInverted);
  --sideNavInkTab: var(--colorInkSecondary);
  --sideNavInkSection: var(--colorInkSecondary);
  --sideNavItemHoverBackground: rgba(255, 255, 255, 0.08);
  --sideNavItemHoverInk: var(--sideNavInk);
  --sideNavItemActiveBackground: rgba(255,255,255,0.2);
  --sideNavItemActiveInk: white;
}

/*=== Side Navigation ===*/

.side-navigation-wrapper {
  background-color: var(--sideNavBackground);
  width: var(--sideNavWidth); // should this be min-width? 
  position: relative;
  z-index: 1;
  border-right: 1px solid var(--sideNavBorderColor);
  box-shadow: var(--sideNavElevation);
  flex-shrink: 0;

  .sidebar-navigation {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: var(--topNavHeight);
    height: calc(100vh - var(--topNavHeight));
    overflow: auto;
    margin: 0;
    padding: var(--sideNavGroupMarginTop) 0 0;
    width: 100%;
  }

  .bg-sidebar {
    background-color: var(--sideNavBackground);
    position: absolute;
    inset: 0px 0 0px -1600px;
    z-index: 0;
  }

  // todo: fix this in the correct place
  .nav {
    flex-direction: column;
  }
}


.site-logo-wrapper {
  --topNavInk: var(--colorInkPrimary);

  color: var(--sideNavInk);
  display: flex;
  flex-direction: column;
  padding: 28px var(--sideNavPadding) 24px;
  position: sticky;
  top: 0;
  background: var(--sideNavBackground);
  z-index: 1;
  gap: 24px;
  
  .site-logo {
    align-self: flex-start;
    display: flex !important;
  }

  .logo-wrapper {
    width: auto;
    padding: 0;
    height: auto;
  }
}


.group-open + .nav-item {
  margin-top: var(--sideNavGroupMarginTop);
}

.docs-navigation > .nav {
  --calculatedIndent: 0px;

  padding: 0 var(--sideNavPadding) 32px;
  color: var(--colorInkPrimary);
  gap: var(--sideNavGap);
  flex-direction: column;

  .nav-link.group {
    --sideNavItemActiveBorderWidth: 0px;
  }

  .nav-item {

    .nav-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      font-weight: var(--sideNavItemFontWeight);
      font-size: var(--sideNavItemFontSize);
      line-height: 1.4;
      letter-spacing: 0em;
      text-indent: 0px;
      color: var(--sideNavInk);
      padding: 8px var(--sideNavItemPadding);  
      border-radius: var(--sideNavItemBorderRadius);
      transition: var(--transitionDefault);

      &:hover {
        color: var(--sideNavItemHoverInk);
        background-color: var(--sideNavItemHoverBackground);
      }

      &.group {
        .icon {
          opacity: 0.8;
          transition: var(--transitionDefault);
          
          svg {
            display: block;
            height: 16px;
            width: 16px;
            flex-shrink: 0;
          }
        }
      }

      &.active {
        padding-left: calc(var(--sideNavItemPadding) + var(--calculatedIndent) - var(--sideNavItemActiveBorderWidth));
        background-color: var(--sideNavItemActiveBackground);
        color: var(--sideNavItemActiveInk);
        border-radius: var(--sideNavItemBorderRadius);
        border-left: var(--sideNavItemActiveBorderWidth) solid var(--sideNavItemActiveBorderColor);

        &.group {
          background-color: transparent;
          color:  var(--sideNavInk);
          border: 0;
          padding-left: var(--sideNavItemPadding);

          &:hover {
            color: var(--sideNavItemHoverInk);
            background-color: var(--sideNavItemHoverBackground);
          }

          .icon {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  // for all nav-items that are nested

  // 2nd level
  > li > .nav {
    --calculatedIndent: var(--sideNavSubItemIndentPadding);

    // 3rd level
    > li > .nav {
      --calculatedIndent: var(--sideNavSubItemIndentPadding) * 2;

      // 4th level
      > li > .nav {
        --calculatedIndent: var(--sideNavSubItemIndentPadding) * 3;

        // 5th level
        > li > .nav {
          --calculatedIndent: var(--sideNavSubItemIndentPadding) * 4;

          // 6th+ level
          > li > .nav {
            --calculatedIndent: var(--sideNavSubItemIndentPadding) * 5;
          }
        }
      }
    }
  }

  .nav .nav-item {
    .nav-link {
      padding-left: calc(var(--sideNavItemPadding) + var(--calculatedIndent));  

      &.active {
        padding-left: calc(var(--sideNavItemPadding) + var(--calculatedIndent) - var(--sideNavItemActiveBorderWidth));  
      }
    }
  }

  &.with-root-level {
    // if there is no top nav, we highlight roo-level items with the same style as we would have in topNav
    & > .nav-item > .nav-link {
      font-weight: var(--topNavFontWeight);
    }
  }

  &.first-level-flat {    
    .group-open {
      margin-top: var(--sideNavGroupMarginTop);

      &:first-child {
        margin-top: 0;
      }

      > .nav-link.group {
        font-weight: var(--sideNavGroupFontWeight);
        text-transform: var(--sideNavGroupTextTransform);
        font-size: var(--sideNavGroupFontSize);
        line-height: 1.3;
        color: var(--sideNavGroupInk);
        pointer-events: none;
        padding-top: 0;

        .icon {
          display: none;
        }

        &:after {
          content: none;
        }
      }

      > ul.nav {
        margin: 0;
      }
    }
  }
}

.docs-navigation .nav .nav-item {
  position: relative;
  transition: var(--transitionDefault);
  padding: 0;
  border-radius: var(--sideNavItemBorderRadius);
  

  &.is-tab a {
    color: var(--sideNavInkTab);
  }
}

.nav-name {
  margin: 0 var(--sideNavPadding) 8px;
  border-bottom: 1px solid var(--colorBorderProminent);
  padding: 0 var(--sideNavItemPadding) 8px;
}

.nav-name span {
  text-transform: uppercase;
  color: var(--sideNavInkSection);
}

.docs-navigation .nav .nav {
  margin: 0 0 0 var(--sideNavSubItemIndentMargin);
}


.docs-navigation .nav .nav-item .nav-link.active + .nav {
  display: block;
}

/* 5.4 Nav + Page Tabs */
/* Todo: split this */

.nav.nav-separator .nav-item .nav-link {
  position: relative;
}

.nav.nav-separator .nav-item + .nav-item .nav-link:after {
  height: 14px;
  width: 1px;
  content: ' ';
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.nav.nav-separator.nav-separator-light .nav-item + .nav-item .nav-link:after {
  background-color: rgba(250, 250, 250, 0.2);
}


.nav-sn {
  position: sticky;
  bottom: 0;
  height: 60px;
  z-index: 1;
  border-top: 1px solid var(--sideNavBorderColor);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: var(--sideNavBackground);
  margin-top: auto;
  flex-shrink: 0;

  a {
    display: flex;
    padding: 4px 12px;
    border-radius: var(--borderRadiusDefault);
    height: 32px;
    align-items: center;

    svg {
      color: var(--sideNavInk);
      opacity: 0.4;
      flex-shrink: 0;
    }

    &:hover {
      color: var(--sideNavItemHoverInk);
      background-color: var(--sideNavItemHoverBackground);

      svg {
        color: var(--sideNavItemHoverInk);
        flex-shrink: 0;
      }
    }
  }
}
