/* =================================== */
/*  Layouts
/* =================================== */

#main-wrapper {
  background: var(--pageBackground);
}

.box {
  max-width: 1200px;
  margin: 0 auto;
}

/* 5.4 Nav + Page Tabs */
/* Todo: split this */

.nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  color: var(--leftNavInk);
}

.nav.nav-light .nav-item .nav-link {
  color: #ddd;
}

.nav:not(.nav-pills) .nav-item .nav-link.active,
.nav:not(.nav-pills) .nav-item .nav-link:hover {
  color: var(--leftNavInk);
}

.nav.nav-separator .nav-item .nav-link {
  position: relative;
}

.nav.nav-separator .nav-item + .nav-item .nav-link:after {
  height: 14px;
  width: 1px;
  content: ' ';
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.nav.nav-separator.nav-separator-light .nav-item + .nav-item .nav-link:after {
  background-color: rgba(250, 250, 250, 0.2);
}

.nav.nav-sm .nav-item .nav-link {
  font-size: 14px;
}

.nav-sn {
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  overflow-y: hidden;
  width: calc(var(--leftNavWidth) - 1px);
  height: 60px;
  z-index: 1;
  border-top: 1px solid var(--leftNavBorderColor);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: var(--leftNavBackground);

  a {
    display: flex;
    padding: 4px 12px;
    border-radius: var(--borderRadiusDefault);
    height: 32px;
    align-items: center;

    svg {
      color: var(--leftNavInk);
      opacity: 0.4;
    }

    &:hover {
      color: var(--leftNavItemHoverInk);
      background-color: var(--leftNavItemHoverBackground);

      svg {
        color: var(--leftNavItemHoverInk);
      }
    }
  }
}

/*=== Section Divider ===*/

.divider {
  margin: 32px 0;
}
