/* =================================== */
/*  Search
/* =================================== */

.SNSearch {
  height: 100vh;
  width: 100vw;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.25);
  padding: 1rem;
  display: none;
}

.SNSearch a {
  text-decoration: none;
}

.SNSearch.active {
  display: block;
  animation: fade-in 0.15s;
}

.SNSearch:not(.active).did-fade-in {
  display: block;
  animation: fade-out 0.15s;
}

.SNSearch.SNSearch-container {
  padding: 12vh;
}

.SNSearch-box {
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-radius: var(--borderRadiusLarge);
  box-shadow: var(--boxShadowLevel2);
  background: var(--pageBackground);
  color: var(--colorInkPrimary);
}

.SNSearch-header {
  height: 52px;
  width: 100%;
  padding: 0 16px;
  border-bottom: 1px solid var(--colorBorderColorSubtle);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SNSearch-input {
  border: 0px;
  font-weight: var(--fontWeightRegular);
  width: 100%;
  margin: 0 16px 0px 16px;
  background-color: var(--pageBackground);
  color: var(--colorInkPrimary);
}

.SNSearch-header form {
  width: calc(100% - 24px);
}

.SNSearch-input:focus {
  border: 0px;
  outline: none;
}

.SNSearch-input-label {
  width: 13px;
  height: 13px;

  svg {
    display: block;
    flex-shrink: 0;
  }
}

.SNSearch-results {
  padding: 0px 20px 20px 20px;
  font-size: var(--fontSizeSmall);
  max-height: 450px;
  overflow-y: scroll;
}

.SNSearch-footer {
  height: 44px;
  width: 100%;
  padding: 12px;
  border-top: 1px solid var(--colorBorderColorSubtle);
  display: flex;
  justify-content: space-between;
  color: var(--colorInkSecondary);
  font-size: var(--fontSizeTiny);
}

.SNSearch-footer span {
  padding: 4px;
  background-color: var(--colorBackgroundSecondary);
  border-radius: var(--borderRadiusSmall);
  color: var(--colorInPrimary);
}

.SNSearch-results p.section-title {
  font-weight: var(--fontWeightSemibold);
  color: var(--colorInkSecondary);
  margin: 24px 0px 12px 0px;
}

.SNSearch-results p.section-title.empty {
  color: var(--colorInkSecondary);
  margin: 36px 0px 16px 0px;
}

.SNSearch-results p.section-result-header {
  color: var(--colorInkPrimary);
  font-weight: var(--fontWeightSemibold);
  padding-top: 12px;
  padding-bottom: 4px;
  margin: 0px;
}

.SNSearch-results p.section-result-text {
  font-size: var(--fontSizeTiny);
  line-height: 1.4;
  font-weight: normal;
  color: var(--colorInkSecondary);
  padding-top: 0px;
  padding-bottom: 12px;
  margin: 0 0 4px;
}

.SNSearch-results p {
  padding: 0px 12px;
}

.SNSearch-results p span {
  color: var(--colorAccent);
}

.SNSearch-results .result {
  border-radius: var(--borderRadiusDefault);
  transition: var(--transitionDefault);
}

.SNSearch-results .result:hover {
  background-color: var(--colorBackgroundAlt);
}

.SNSearch-close {
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  border-radius: var(--borderRadiusSmall);
  background: var(--colorBackgroundPrimary);

  &:hover {
    background: var(--colorBackgroundSecondary);
  }

  svg {
    display: block;
    flex-shrink: 0;
  }
}

.sn-search-result-link.selected {
  display: block;
}

.sn-search-result-link.selected .result {
  background-color: var(--colorBackgroundAlt);
}

/* Responsive */

@media (max-width: 768px) {
  .SNSearch.SNSearch-container {
    padding: 3vh 2vh;
  }
}

.backdrop-blur {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
