/* =================================== */
/*  section-content-page
/* =================================== */
#section-content-page {
  width: 100%;

  & > :first-child {
    margin-top: 0 !important;
  }

  .nav-tabs {
    margin-top: 24px !important;
  }
}