/* =================================== */
/*  Content
/* =================================== */
.site-wrapper {
  .site {
    .site-content-wrapper {
      .site-content {
        display: flex;
        min-height: calc(100vh - 204px); // todo: calculate header height and paddings
      }
    }
  }
}

.docs-content {
  @apply lg:w-[calc(100%-300px)] max-w-full;
  min-height: calc(100vh - 242px);

  >.content-container {
    @apply flex-col-reverse xl:flex-row;
  }
}

#section-content-page {
  @apply max-w-[1160px] mb-[80px];
  @apply xl:w-[calc(100%-300px)];
}

.container-title > .slider {
  @apply max-w-[1460px];
}