
:root {
    --colorDocsViewBlackBlack: #000000;    
    --colorDocsViewBlackBlack1: #000000cc;    
    --colorDocsViewBlackBlack2: #00000080;    
    --colorDocsViewBlackBlack3: #0000004d;    
    --colorDocsViewBlackBlack4: #0000000a;    
    --colorDocsViewGreyGrey1: #dce0e4;    
    --colorDocsViewGreyGrey2: #f2f4f5;    
    --colorDocsViewGreyGrey3: #fbfbfb;    
    --colorDocsViewPrimaryPrimary: #0f62fe;    
    --colorDocsViewPrimaryPrimaryLight: #0f62fe0a;    
    --colorDocsViewPrimaryPrimaryHighlight: #0f62fe14;    
}