.typographyDocsViewNavigation 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDocsViewMenu 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDocsViewContents 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDocsViewLabelCaps 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

